openapi: 3.2.0
info:
  title: Connecteam API documentation Tasks:v1:Tasks:Tasks Boards API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Tasks:v1:Tasks:TasksBoards
paths:
  /tasks/v1/taskboards/{taskBoardId}/tasks/{taskId}:
    delete:
      tags:
      - Tasks:v1:Tasks:TasksBoards
      summary: Delete task
      description: Delete quick task under a specified task board
      operationId: delete_task_tasks_v1_taskboards__taskBoardId__tasks__taskId__delete
      security:
      - APIKeyHeader: []
      - OAuth2:
        - quick_tasks.delete
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          title: Taskid
          description: The unique identifier of the task
          type: string
        description: The unique identifier of the task
      - name: taskBoardId
        in: path
        required: true
        schema:
          title: Taskboardid
          description: The unique identifier of the taskBoard
          type: string
        description: The unique identifier of the taskBoard
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_DeleteTaskResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Tasks:v1:Tasks:TasksBoards
      summary: Update task
      description: Update a quick task under a specified task board. Any new attachments will replace the existing ones.
      operationId: update_task_tasks_v1_taskboards__taskBoardId__tasks__taskId__put
      security:
      - APIKeyHeader: []
      - OAuth2:
        - quick_tasks.write
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          title: Taskid
          description: The unique identifier of the task.
          type: string
        description: The unique identifier of the task.
      - name: taskBoardId
        in: path
        required: true
        schema:
          title: Taskboardid
          description: The unique identifier of the taskBoard
          type: string
        description: The unique identifier of the taskBoard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Update Task Request
              allOf:
              - $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_UpdateTaskResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /tasks/v1/taskboards/{taskBoardId}/tasks:
    get:
      tags:
      - Tasks:v1:Tasks:TasksBoards
      summary: Get tasks
      description: Retrieves a list of tasks under a specified task board
      operationId: get_tasks_tasks_v1_taskboards__taskBoardId__tasks_get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - quick_tasks.read
      parameters:
      - name: taskBoardId
        in: path
        required: true
        schema:
          title: Taskboardid
          description: The unique identifier of the taskBoard
          type: string
        description: The unique identifier of the taskBoard
      - name: taskIds
        in: query
        required: false
        schema:
          title: Taskids
          description: List of task IDs to filter by
          type: array
          items:
            type: string
        description: List of task IDs to filter by
      - name: labelIds
        in: query
        required: false
        schema:
          title: Labelids
          description: List of label IDs to filter by. Tasks retrieved will include the specified label(s), but may also include additional labels.
          type: array
          items:
            type: string
        description: List of label IDs to filter by. Tasks retrieved will include the specified label(s), but may also include additional labels.
      - name: userIds
        in: query
        required: false
        schema:
          title: Userids
          description: List of assigned user IDs on the task to filter by. Group tasks will be also included in the results.
          type: array
          items:
            type: integer
        description: List of assigned user IDs on the task to filter by. Group tasks will be also included in the results.
      - name: status
        in: query
        required: false
        schema:
          description: draft/published/completed/all - all is by default
          default: all
          allOf:
          - $ref: '#/components/schemas/TaskStatusFilter'
        description: draft/published/completed/all - all is by default
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: The maximum number of results to display per page
          default: 10
          minimum: 1
          maximum: 100
          type: integer
        description: The maximum number of results to display per page
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
          default: 0
          minimum: 0
          type: integer
        description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseResponse_TasksResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Tasks:v1:Tasks:TasksBoards
      summary: Create task
      description: Create quick task for specified users by their ID, detailing information such as title, due date and description. Attachments for the quick task must first be uploaded via the attachments endpoint.
      operationId: create_task_tasks_v1_taskboards__taskBoardId__tasks_post
      security:
      - APIKeyHeader: []
      - OAuth2:
        - quick_tasks.write
      parameters:
      - name: taskBoardId
        in: path
        required: true
        schema:
          title: Taskboardid
          description: The unique identifier of the taskBoard
          type: string
        description: The unique identifier of the taskBoard
      requestBody:
        content:
          application/json:
            schema:
              title: Create Task Request
              allOf:
              - $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_CreateTaskResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTMLDescription:
      properties:
        type:
          type: string
          title: Type
          description: HTML note type
          default: html
        html:
          type: string
          title: Html
          description: The HTML content of the task
      type: object
      required:
      - html
      title: HTMLDescription
    DeleteTaskResponse:
      properties: {}
      type: object
      title: DeleteTaskResponse
    UpdateTaskResponse:
      properties:
        id:
          type: string
          title: Id
          description: The ID of the task
        userIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Userids
          description: List of user IDs to assign the task to. If more than one user ID is specified, it will be treated as a group task. To assign the task to multiple users individually, separate the requests. If this field remains empty the status field must be 'draft' and not archived.
        status:
          allOf:
          - $ref: '#/components/schemas/TaskStatus'
          description: The status of the task
        title:
          type: string
          title: Title
          description: The title of the task
        startTime:
          type: integer
          title: Starttime
          description: The start time of the task in Unix format (in seconds)
        dueDate:
          type: integer
          title: Duedate
          description: The due date of the task in Unix format (in seconds)
        labelIds:
          items:
            type: string
          type: array
          title: Labelids
          description: List of labels IDs associated with the task
        type:
          allOf:
          - $ref: '#/components/schemas/TaskType'
          description: The type of the task. Currently set to 'oneTime' by default.
          default: oneTime
        isArchived:
          type: boolean
          title: Isarchived
          description: Indicates if the task is archived
          default: false
        subTasks:
          items:
            $ref: '#/components/schemas/SubTaskResponse'
          type: array
          title: Subtasks
          description: List of subtasks associated with the task
        description:
          allOf:
          - $ref: '#/components/schemas/TaskDescription'
          title: Description
          description: Specifies additional description on the task
      type: object
      required:
      - userIds
      - status
      - title
      - id
      title: UpdateTaskResponse
      description: Response model for updating an existing task
    TaskStatusFilter:
      type: string
      enum:
      - draft
      - published
      - completed
      - all
      title: TaskStatusFilter
      description: An enumeration.
    TasksResponse:
      properties:
        tasks:
          items:
            $ref: '#/components/schemas/ResponseTask'
          type: array
          title: Tasks
          description: List of tasks
      type: object
      required:
      - tasks
      title: TasksResponse
    TaskDescription:
      properties:
        content:
          type: string
          title: Content
          description: The content of the description. Must be in UTF-8 format.
        attachments:
          items:
            $ref: '#/components/schemas/TaskAttachment'
          type: array
          title: Attachments
          description: Optional list of attachments for the task description.
      type: object
      required:
      - content
      title: TaskDescription
    CreateTaskRequest:
      properties:
        userIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Userids
          description: List of user IDs to assign the task to. If more than one user ID is specified, it will be treated as a group task. To assign the task to multiple users individually, separate the requests. If this field remains empty the status field must be 'draft' and not archived.
        status:
          allOf:
          - $ref: '#/components/schemas/TaskStatus'
          description: The status of the task
        title:
          type: string
          title: Title
          description: The title of the task
        startTime:
          type: integer
          title: Starttime
          description: The start time of the task in Unix format (in seconds)
        dueDate:
          type: integer
          title: Duedate
          description: The due date of the task in Unix format (in seconds)
        labelIds:
          items:
            type: string
          type: array
          title: Labelids
          description: List of labels IDs associated with the task
        type:
          allOf:
          - $ref: '#/components/schemas/TaskType'
          description: The type of the task. Currently set to 'oneTime' by default.
          default: oneTime
        isArchived:
          type: boolean
          title: Isarchived
          description: Indicates if the task is archived
          default: false
        subTasks:
          items:
            $ref: '#/components/schemas/SubTaskRequest'
          type: array
          title: Subtasks
          description: List of subtasks associated with the task
        description:
          allOf:
          - $ref: '#/components/schemas/TaskDescription'
          title: Description
          description: Specifies additional description on the task
      type: object
      required:
      - userIds
      - status
      - title
      title: CreateTaskRequest
    APIResponse_UpdateTaskResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/UpdateTaskResponse'
      type: object
      required:
      - data
      title: APIResponse[UpdateTaskResponse]
    PagingResponseModel:
      properties:
        offset:
          type: integer
          minimum: 0.0
          title: Offset
          description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
        total:
          type: integer
          minimum: 0.0
          title: Total
          description: Total number of resources matching the request, ignoring pagination. Use this to retrieve the full count without paginating through every page. Only populated by endpoints that compute it.
      type: object
      required:
      - offset
      title: PagingResponseModel
    CreateTaskResponse:
      properties:
        id:
          type: string
          title: Id
          description: The ID of the task
        userIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Userids
          description: List of user IDs to assign the task to. If more than one user ID is specified, it will be treated as a group task. To assign the task to multiple users individually, separate the requests. If this field remains empty the status field must be 'draft' and not archived.
        status:
          allOf:
          - $ref: '#/components/schemas/TaskStatus'
          description: The status of the task
        title:
          type: string
          title: Title
          description: The title of the task
        startTime:
          type: integer
          title: Starttime
          description: The start time of the task in Unix format (in seconds)
        dueDate:
          type: integer
          title: Duedate
          description: The due date of the task in Unix format (in seconds)
        labelIds:
          items:
            type: string
          type: array
          title: Labelids
          description: List of labels IDs associated with the task
        type:
          allOf:
          - $ref: '#/components/schemas/TaskType'
          description: The type of the task. Currently set to 'oneTime' by default.
          default: oneTime
        isArchived:
          type: boolean
          title: Isarchived
          description: Indicates if the task is archived
          default: false
        subTasks:
          items:
            $ref: '#/components/schemas/SubTaskResponse'
          type: array
          title: Subtasks
          description: List of subtasks associated with the task
        description:
          allOf:
          - $ref: '#/components/schemas/TaskDescription'
          title: Description
          description: Specifies additional description on the task
      type: object
      required:
      - userIds
      - status
      - title
      - id
      title: CreateTaskResponse
    APIResponse_CreateTaskResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/CreateTaskResponse'
      type: object
      required:
      - data
      title: APIResponse[CreateTaskResponse]
    SubTaskResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the subtask
        title:
          type: string
          title: Title
          description: The title of the subtask
        isCompleted:
          type: boolean
          title: Iscompleted
          description: Whether the subtask is completed
      type: object
      required:
      - id
      - title
      - isCompleted
      title: SubTaskResponse
    ResponseTask:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the task
        userIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Userids
          description: List of user IDs to assign the task to. If more than one user ID is specified, it will be treated as a group task. To assign the task to multiple users individually, separate the requests. If this field remains empty the status field must be 'draft' and not archived.
        status:
          allOf:
          - $ref: '#/components/schemas/TaskStatus'
          description: The status of the task
        title:
          type: string
          title: Title
          description: The title of the task
        startTime:
          type: integer
          title: Starttime
          description: The start time of the task in Unix format (in seconds)
        dueDate:
          type: integer
          title: Duedate
          description: The due date of the task in Unix format (in seconds)
        labelIds:
          items:
            type: string
          type: array
          title: Labelids
          description: List of labels IDs associated with the task
        type:
          allOf:
          - $ref: '#/components/schemas/TaskType'
          description: The type of the task. Currently set to 'oneTime' by default.
          default: oneTime
        isArchived:
          type: boolean
          title: Isarchived
          description: Indicates if the task is archived
          default: false
        subTasks:
          items:
            $ref: '#/components/schemas/SubTaskResponse'
          type: array
          title: Subtasks
          description: List of subtasks associated with the task
        description:
          items:
            $ref: '#/components/schemas/HTMLDescription'
          type: array
          title: Description
          description: The description of the task
      type: object
      required:
      - userIds
      - status
      - title
      - subTasks
      - id
      - description
      title: ResponseTask
      description: Response model for task data that includes the task ID
    SubTaskRequest:
      properties:
        title:
          type: string
          title: Title
          description: The title of the subtask
        isCompleted:
          type: boolean
          title: Iscompleted
          description: Whether the subtask is completed
          default: false
      type: object
      required:
      - title
      title: SubTaskRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    APIResponse_DeleteTaskResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/DeleteTaskResponse'
      type: object
      required:
      - data
      title: APIResponse[DeleteTaskResponse]
    UpdateTaskRequest:
      properties:
        userIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Userids
          description: List of user IDs to assign the task to. If more than one user ID is specified, it will be treated as a group task. To assign the task to multiple users individually, separate the requests. If this field remains empty the status field must be 'draft' and not archived.
        status:
          allOf:
          - $ref: '#/components/schemas/TaskStatus'
          description: The status of the task
        title:
          type: string
          title: Title
          description: The title of the task
        startTime:
          type: integer
          title: Starttime
          description: The start time of the task in Unix format (in seconds)
        dueDate:
          type: integer
          title: Duedate
          description: The due date of the task in Unix format (in seconds)
        labelIds:
          items:
            type: string
          type: array
          title: Labelids
          description: List of labels IDs associated with the task
        type:
          allOf:
          - $ref: '#/components/schemas/TaskType'
          description: The type of the task. Currently set to 'oneTime' by default.
          default: oneTime
        isArchived:
          type: boolean
          title: Isarchived
          description: Indicates if the task is archived
          default: false
        subTasks:
          items:
            $ref: '#/components/schemas/SubTaskRequest'
          type: array
          title: Subtasks
          description: List of subtasks associated with the task
        description:
          allOf:
          - $ref: '#/components/schemas/TaskDescription'
          title: Description
          description: Specifies additional description on the task
      type: object
      required:
      - userIds
      - status
      - title
      title: UpdateTaskRequest
    PaginatedBaseResponse_TasksResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/TasksResponse'
        paging:
          $ref: '#/components/schemas/PagingResponseModel'
      type: object
      required:
      - data
      - paging
      title: PaginatedBaseResponse[TasksResponse]
    TaskType:
      type: string
      enum:
      - oneTime
      - recurring
      title: TaskType
      description: An enumeration.
    TaskAttachment:
      properties:
        fileId:
          type: string
          title: Fileid
          description: The unique identifier of the uploaded file.
      type: object
      required:
      - fileId
      title: TaskAttachment
    TaskStatus:
      type: string
      enum:
      - draft
      - published
      - completed
      title: TaskStatus
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
