openapi: 3.2.0
info:
  title: Connecteam API documentation Onboarding:v1:Onboarding:Assignments API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Onboarding:v1:Onboarding:Assignments
paths:
  /onboarding/v1/packs/{packId}/assignments:
    get:
      tags:
      - Onboarding:v1:Onboarding:Assignments
      summary: Get pack assignments
      description: Retrieve all user assignments for a specific onboarding pack
      operationId: get_pack_assignments_onboarding_v1_packs__packId__assignments_get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - onboarding.read
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          title: Packid
          description: The onboarding pack ID
          type: integer
        description: The onboarding pack ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_AssignmentsGetResponse_'
        '404':
          description: Onboarding pack not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Onboarding:v1:Onboarding:Assignments
      summary: Assign users to pack
      description: 'Assign one or more users to a specific onboarding pack. All-or-nothing: if any user ID is invalid, no assignments are created.'
      operationId: create_pack_assignments_onboarding_v1_packs__packId__assignments_post
      security:
      - APIKeyHeader: []
      - OAuth2:
        - onboarding.write
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          title: Packid
          description: The onboarding pack ID
          type: integer
        description: The onboarding pack ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Request
              allOf:
              - $ref: '#/components/schemas/AssignmentsCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_AssignmentsCreateResponse_'
        '404':
          description: Onboarding pack not found
        '422':
          description: Validation error
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AssignmentsCreateResponse:
      properties: {}
      type: object
      title: AssignmentsCreateResponse
    AssignmentResponse:
      properties:
        id:
          type: integer
          title: Id
          description: Assignment ID
        userId:
          type: integer
          title: Userid
          description: Assigned user ID
        status:
          allOf:
          - $ref: '#/components/schemas/OnboardingStatus'
          description: 'Onboarding status: "in_progress", "completed"'
        isWaitingApproval:
          type: boolean
          title: Iswaitingapproval
          description: 'True when the user has completed all required steps and is waiting for admin approval. '
      type: object
      required:
      - id
      - userId
      - status
      - isWaitingApproval
      title: AssignmentResponse
    AssignmentsCreateRequest:
      properties:
        userIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Userids
          description: 'List of user IDs to assign (max: 500)'
      type: object
      required:
      - userIds
      title: AssignmentsCreateRequest
    OnboardingStatus:
      enum:
      - in_progress
      - completed
      title: OnboardingStatus
      description: An enumeration.
    APIResponse_AssignmentsGetResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/AssignmentsGetResponse'
      type: object
      required:
      - data
      title: APIResponse[AssignmentsGetResponse]
    AssignmentsGetResponse:
      properties:
        assignments:
          items:
            $ref: '#/components/schemas/AssignmentResponse'
          type: array
          title: Assignments
          description: List of pack assignments
      type: object
      required:
      - assignments
      title: AssignmentsGetResponse
    APIResponse_AssignmentsCreateResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/AssignmentsCreateResponse'
      type: object
      required:
      - data
      title: APIResponse[AssignmentsCreateResponse]
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
