openapi: 3.2.0
info:
  title: Connecteam API Documentation API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Connecteam API Documentation
paths: {}
webhooks:
  Time activity clock in:
    post:
      summary: Time Activity Clock In Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_clock_in_eventTime_activity_clock_in_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityClockInWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity clock out:
    post:
      summary: Time Activity Clock Out Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_clock_out_eventTime_activity_clock_out_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityClockOutWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity auto clock out:
    post:
      summary: Time Activity Auto Clock Out Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_auto_clock_out_eventTime_activity_auto_clock_out_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAutoClockOutWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin add:
    post:
      summary: Time Activity Admin Add Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_add_eventTime_activity_admin_add_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminAddWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin edit:
    post:
      summary: Time Activity Admin Edit Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_edit_eventTime_activity_admin_edit_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminEditWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin delete:
    post:
      summary: Time Activity Admin Delete Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_delete_eventTime_activity_admin_delete_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminDeleteWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin approved clock out outside geo fence request:
    post:
      summary: Time Activity Admin Approved Clock Out Outside Geo Fence Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_approved_clock_out_outside_geo_fence_request_eventTime_activity_admin_approved_clock_out_outside_geo_fence_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminApprovedClockOutOutsideGeoFenceRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin approved add request:
    post:
      summary: Time Activity Admin Approved Add Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_approved_add_request_eventTime_activity_admin_approved_add_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminApprovedAddRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin approved edit request:
    post:
      summary: Time Activity Admin Approved Edit Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_approved_edit_request_eventTime_activity_admin_approved_edit_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminApprovedEditRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin approved delete request:
    post:
      summary: Time Activity Admin Approved Delete Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_approved_delete_request_eventTime_activity_admin_approved_delete_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminApprovedDeleteRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin declined request:
    post:
      summary: Time Activity Admin Declined Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_declined_request_eventTime_activity_admin_declined_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminDeclinedRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity auto approved add request:
    post:
      summary: Time Activity Auto Approved Add Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_auto_approved_add_request_eventTime_activity_auto_approved_add_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAutoApprovedAddRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity auto approved edit request:
    post:
      summary: Time Activity Auto Approved Edit Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_auto_approved_edit_request_eventTime_activity_auto_approved_edit_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAutoApprovedEditRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity auto approved delete request:
    post:
      summary: Time Activity Auto Approved Delete Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_auto_approved_delete_request_eventTime_activity_auto_approved_delete_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAutoApprovedDeleteRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity auto approved clock out outside geo fence request:
    post:
      summary: Time Activity Auto Approved Clock Out Outside Geo Fence Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_auto_approved_clock_out_outside_geo_fence_request_eventTime_activity_auto_approved_clock_out_outside_geo_fence_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAutoApprovedClockOutOutsideGeoFenceRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity admin approved clock out without NFC request:
    post:
      summary: Time Activity Admin Approved Clock Out Without Nfc Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_admin_approved_clock_out_without_nfc_request_eventTime_activity_admin_approved_clock_out_without_NFC_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAdminApprovedClockOutWithoutNfcRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Time activity auto approved clock out without NFC request:
    post:
      summary: Time Activity Auto Approved Clock Out Without Nfc Request Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: time_activity_auto_approved_clock_out_without_nfc_request_eventTime_activity_auto_approved_clock_out_without_NFC_request_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityAutoApprovedClockOutWithoutNfcRequestWebhookResponse'
      tags:
      - Connecteam API Documentation
  Availability status created:
    post:
      summary: Availability Status Created Event
      description: "Receive real-time data updates on availability status events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: availability_status_created_eventAvailability_status_created_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityCreatedStatusWebhookResponse'
      tags:
      - Connecteam API Documentation
  Availability status deleted:
    post:
      summary: Availability Status Deleted Event
      description: "Receive real-time data updates on availability status events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: availability_status_deleted_eventAvailability_status_deleted_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityDeletedStatusWebhookResponse'
      tags:
      - Connecteam API Documentation
  Shifts created:
    post:
      summary: Shifts Created Event
      description: "Receive real-time data updates on shifts creation at your specified URL. \n\n**V1** (default): one event per individual user assignment. \n\n**V2**: aggregates all user assignments of the same shift into a single event, with a combined list\nof assigned user IDs and a base shift ID. Adding a new user to an existing shift triggers a\n**shift.updated** event instead. Contact us to enable V2 for your account. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: shifts_created_eventShifts_created_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftCreatedWebhookResponse'
      tags:
      - Connecteam API Documentation
  Shifts updated:
    post:
      summary: Shifts Updated Event
      description: "Receive real-time data updates on shifts updates at your specified URL. \n\n**V1** (default): one event per individual user assignment. \n\n**V2**: aggregates all user assignments of the same shift into a single event, with a combined list\nof assigned user IDs and a base shift ID. Contact us to enable V2 for your account. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: shifts_updated_eventShifts_updated_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftUpdatedWebhookResponse'
      tags:
      - Connecteam API Documentation
  Shifts deleted:
    post:
      summary: Shifts Deleted Event
      description: "Receive real-time data updates on shifts deletion at your specified URL. \n\n**V1** (default): one event per individual user assignment. \n\n**V2**: uses base shift IDs and only fires when the entire shift is removed. Unassigning a single\nuser from a multi-user shift triggers a **shift.updated** event instead.\nContact us to enable V2 for your account. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: shifts_deleted_eventShifts_deleted_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftDeletedWebhookResponse'
      tags:
      - Connecteam API Documentation
  User created:
    post:
      summary: User Created Event
      description: "Receive real-time data updates on time activity events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: user_created_eventUser_created_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersChangedWebhookResponse'
      tags:
      - Connecteam API Documentation
  User updated:
    post:
      summary: User Updated Event
      description: "Receive real-time data updates on user update events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: user_updated_eventUser_updated_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersChangedWebhookResponse'
      tags:
      - Connecteam API Documentation
  User deleted:
    post:
      summary: User Deleted Event
      description: "Receive real-time data updates on user deletion events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: user_deleted_eventUser_deleted_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdWebhookResponse'
      tags:
      - Connecteam API Documentation
  User archived:
    post:
      summary: User Archived Event
      description: "Receive real-time data updates on user archiving events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: user_archived_eventUser_archived_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdWebhookResponse'
      tags:
      - Connecteam API Documentation
  User restored:
    post:
      summary: User Restored Event
      description: "Receive real-time data updates on user restoration events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: user_restored_eventUser_restored_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdWebhookResponse'
      tags:
      - Connecteam API Documentation
  User promoted:
    post:
      summary: User Promoted Event
      description: "Receive real-time data updates on user promotion events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: user_promoted_eventUser_promoted_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdWebhookResponse'
      tags:
      - Connecteam API Documentation
  User demoted:
    post:
      summary: User Demoted Event
      description: "Receive real-time data updates on user demotion events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: user_demoted_eventUser_demoted_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdWebhookResponse'
      tags:
      - Connecteam API Documentation
  Task Published:
    post:
      summary: Task Published Event
      description: "Receive real-time data updates on task published events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: task_published_eventTask_Published_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChangedWebhookResponse'
      tags:
      - Connecteam API Documentation
  Task Completed:
    post:
      summary: Task Completed Event
      description: "Receive real-time data updates on task complete events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: task_completed_eventTask_Completed_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChangedWebhookResponse'
      tags:
      - Connecteam API Documentation
  Form Submission:
    post:
      summary: Form Submission Event
      description: "Receive real-time data updates on user demotion events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: form_submission_eventForm_Submission_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionWebhookResponse'
      tags:
      - Connecteam API Documentation
  Manager Field Updated:
    post:
      summary: Manager Field Updated Event
      description: "Receive real-time data updates on user demotion events at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: manager_field_updated_eventManager_Field_Updated_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagerFieldUpdatedWebhookResponse'
      tags:
      - Connecteam API Documentation
  Form submission Edited:
    post:
      summary: Form Submission Edited Event
      description: "Receive real-time data updates when a form submission is edited at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: form_submission_edited_eventForm_submission_Edited_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionWebhookResponse'
      tags:
      - Connecteam API Documentation
  Pending User Request Fulfilled:
    post:
      summary: Pending User Request Approved
      description: "Receive real-time data updates on fulfilled users from user pending requests at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: pending_user_request_approvedPending_User_Request_Fulfilled_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChangedWebhookResponse'
      tags:
      - Connecteam API Documentation
  Chat message created:
    post:
      summary: Chat Message Created Event
      description: "Receive real-time data updates on chat message creation at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: chat_message_created_eventChat_message_created_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatWebhookResponse'
      tags:
      - Connecteam API Documentation
  Chat message updated:
    post:
      summary: Chat Message Updated Event
      description: "Receive real-time data updates on chat message updates at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: chat_message_updated_eventChat_message_updated_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatWebhookResponse'
      tags:
      - Connecteam API Documentation
  Chat message deleted:
    post:
      summary: Chat Message Deleted Event
      description: "Receive real-time data updates on chat message deletion at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: chat_message_deleted_eventChat_message_deleted_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatWebhookResponse'
      tags:
      - Connecteam API Documentation
  Chat conversation created:
    post:
      summary: Chat Conversation Created Event
      description: "Receive real-time data updates on chat conversation creation at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: chat_conversation_created_eventChat_conversation_created_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatWebhookResponse'
      tags:
      - Connecteam API Documentation
  Chat conversation updated:
    post:
      summary: Chat Conversation Updated Event
      description: "Receive real-time data updates on chat conversation updates at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: chat_conversation_updated_eventChat_conversation_updated_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatWebhookResponse'
      tags:
      - Connecteam API Documentation
  Chat conversation deleted:
    post:
      summary: Chat Conversation Deleted Event
      description: "Receive real-time data updates on chat conversation deletion at your specified URL. \n\nFind more details about event types and payload examples in the Guides -> Webhooks section for a deeper understanding."
      operationId: chat_conversation_deleted_eventChat_conversation_deleted_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatWebhookResponse'
      tags:
      - Connecteam API Documentation
components:
  schemas:
    TaskChangedWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type
        data:
          items:
            type: object
          type: array
          title: Data
          description: data of the task
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - eventType
      - data
      title: TaskChangedWebhookResponse
    ShiftActivityResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the time clock
        managerNote:
          type: string
          title: Managernote
          description: The manager note providing additional details
        employeeNote:
          type: string
          title: Employeenote
          description: The employee note providing additional details
        start:
          allOf:
          - $ref: '#/components/schemas/TimeActivityTimePointResponse'
          title: Start
          description: The start time of the time activity
        end:
          allOf:
          - $ref: '#/components/schemas/TimeActivityTimePointResponse'
          title: End
          description: The end time of the time activity
        createdAt:
          type: integer
          minimum: 1.0
          title: Createdat
          description: The creation time of the time activity
        modifiedAt:
          type: integer
          minimum: 1.0
          title: Modifiedat
          description: The last modification time of the time activity
        jobId:
          type: string
          title: Jobid
          description: The ID of the job
        subJobId:
          type: string
          title: Subjobid
          description: The ID of the sub job
        schedulerShiftId:
          type: string
          title: Schedulershiftid
          description: The unique identifier of the shift from the schedule, if it exists.
        shiftAttachments:
          items:
            $ref: '#/components/schemas/GeneralActivityShiftAttachmentResponse'
          type: array
          title: Shiftattachments
          description: The shift attachments
        isAutoClockOut:
          type: boolean
          title: Isautoclockout
          description: Indicates whether the user was auto clocked out from the shift
          default: false
      type: object
      required:
      - id
      - start
      title: ShiftActivityResponse
    ChatWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type
        data:
          additionalProperties: true
          type: object
          title: Data
          description: Event-specific data
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - eventType
      - data
      title: ChatWebhookResponse
    FormSubmissionWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
        data:
          allOf:
          - $ref: '#/components/schemas/FormSubmissionAnswersResponse'
          title: Data
          description: The form submission
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - eventType
      - data
      title: FormSubmissionWebhookResponse
    HTMLNoteDataOut:
      properties:
        type:
          type: string
          title: Type
          description: HTML note type
          default: html
        html:
          type: string
          title: Html
          description: The HTML content of the note
      type: object
      required:
      - html
      title: HTMLNoteDataOut
    TimeOffDurationResponse:
      properties:
        value:
          type: number
          title: Value
          description: The value of the duration
        units:
          allOf:
          - $ref: '#/components/schemas/TimeOffActivityDurationUnits'
          description: The units of the time off in the chosen unit (hours/days)
      type: object
      required:
      - value
      - units
      title: TimeOffDurationResponse
    ActivityFileResponse:
      properties:
        fileName:
          type: string
          title: Filename
          description: The name of the file in a shift attachment of type file
        fileUrl:
          type: string
          title: Fileurl
          description: The URL of the file in a shift attachment of type file
      type: object
      required:
      - fileName
      - fileUrl
      title: ActivityFileResponse
    UsersChangedWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type
        data:
          items:
            type: object
          type: array
          title: Data
          description: The new data of the updated users
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - eventType
      - data
      title: UsersChangedWebhookResponse
    StatusTypesAPI:
      type: string
      enum:
      - accepted
      - checked_in
      - completed
      - rejected
      - claimed
      - claim_requested
      - unclaimed
      - unclaim_requested
      - cancel_claim_request
      - reset
      title: StatusTypesAPI
    TimeActivityClockOutWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: clock_out
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityClockOutWebhookResponse
    TimeActivityAdminDeclinedRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: admin_declined_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAdminDeclinedRequestWebhookResponse
    UserCustomFields:
      type: string
      enum:
      - email
      - date
      - phone
      - number
      - str
      - dropdown
      - file
      - directManager
      - birthday
      - link
      - location
      title: UserCustomFields
    ShiftCreatedWebhookResponseData:
      properties:
        shifts:
          items:
            $ref: '#/components/schemas/WebhookShiftResponse'
          type: array
          title: Shifts
          description: The created shifts
      type: object
      required:
      - shifts
      title: ShiftCreatedWebhookResponseData
    AudioAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - audioRecording
          title: Questiontype
          description: The questions type
          default: audioRecording
        audioUrl:
          type: string
          title: Audiourl
          description: The audio url.
        audioLength:
          type: integer
          title: Audiolength
          description: The audio length in seconds.
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      title: AudioAnswer
    TimeOffActivityResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the time clock
        managerNote:
          type: string
          title: Managernote
          description: The manager note providing additional details
        employeeNote:
          type: string
          title: Employeenote
          description: The employee note providing additional details
        start:
          allOf:
          - $ref: '#/components/schemas/TimeActivityTimePointResponse'
          title: Start
          description: The start time of the time activity
        end:
          allOf:
          - $ref: '#/components/schemas/TimeActivityTimePointResponse'
          title: End
          description: The end time of the time activity
        createdAt:
          type: integer
          minimum: 1.0
          title: Createdat
          description: The creation time of the time activity
        modifiedAt:
          type: integer
          minimum: 1.0
          title: Modifiedat
          description: The last modification time of the time activity
        policyTypeId:
          type: string
          title: Policytypeid
          description: The ID of the policy type
        duration:
          allOf:
          - $ref: '#/components/schemas/TimeOffDurationResponse'
          title: Duration
          description: The duration of the time off
        isAllDay:
          type: boolean
          title: Isallday
          description: Indicates whether the time off is all day
      type: object
      required:
      - id
      - start
      - policyTypeId
      - duration
      - isAllDay
      title: TimeOffActivityResponse
    TimeActivityAdminApprovedDeleteRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: admin_approved_delete_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAdminApprovedDeleteRequestWebhookResponse
    TimeActivityAdminDeleteWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: admin_delete
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAdminDeleteWebhookResponse
    ManagerFieldStatusOption:
      properties:
        statusOptionId:
          type: string
          title: Statusoptionid
          description: The ID of the status option.
        name:
          type: string
          title: Name
          description: The name of the status option.
        color:
          type: string
          title: Color
          description: The color of the status option.
      type: object
      required:
      - statusOptionId
      - name
      - color
      title: ManagerFieldStatusOption
    ShiftBreakDataApi:
      properties:
        id:
          type: string
          title: Id
          description: The id of the break
        name:
          type: string
          title: Name
          description: The name of the break.
        type:
          $ref: '#/components/schemas/ShiftBreakTypeAPI'
          description: The type of the break (paid/unpaid)
        startTime:
          anyOf:
          - type: integer
            minimum: 0.0
            description: Integer with minimum value of 0
          - type: 'null'
          title: Starttime
          description: The time the break starts, counted in minutes from the beginning of the day
        duration:
          type: integer
          minimum: 0.0
          title: Duration
          description: The time the break lasts in minutes
      type: object
      required:
      - id
      - name
      - type
      - duration
      title: ShiftBreakDataApi
    ShiftDetailsOutput:
      properties:
        shiftLayers:
          items:
            $ref: '#/components/schemas/ShiftLayerOutput'
          type: array
          title: Shiftlayers
          description: The various layers of information associated with the shift
        shiftSource:
          anyOf:
          - type: string
          - type: 'null'
          title: Shiftsource
          description: The source of the shift
      type: object
      title: ShiftDetailsOutput
    ShiftDeletedWebhookResponseData:
      properties:
        ids:
          items:
            type: string
          type: array
          title: Ids
          description: The deleted shifts ids
      type: object
      required:
      - ids
      title: ShiftDeletedWebhookResponseData
    TimeActivityAutoApprovedAddRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: auto_approved_add_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAutoApprovedAddRequestWebhookResponse
    TimeActivityAutoApprovedClockOutOutsideGeoFenceRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: auto_approved_clock_out_outside_geo_fence_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAutoApprovedClockOutOutsideGeoFenceRequestWebhookResponse
    ShiftLayerOutput:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the shift layer
        title:
          type: string
          title: Title
          description: The name of the shift layer
        value:
          $ref: '#/components/schemas/ShiftLayerInstanceOutput'
          description: The value of the shift layer
      type: object
      required:
      - id
      - title
      - value
      title: ShiftLayerOutput
    ManagerFieldOwner:
      properties:
        managerFieldId:
          type: string
          title: Managerfieldid
          description: The manager field id.
        managerFieldType:
          type: string
          enum:
          - owner
          title: Managerfieldtype
          description: The field type
          default: owner
        userId:
          type: integer
          title: Userid
          description: The user id of the assigned owner.
      type: object
      required:
      - managerFieldId
      title: ManagerFieldOwner
    TimeActivityAdminApprovedAddRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: admin_approved_add_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAdminApprovedAddRequestWebhookResponse
    AvailabilityStatusDataResponse:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
          description: The unique identifier of the availability status
        type:
          $ref: '#/components/schemas/AvailabilityType'
          description: The type of the availability status
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        start:
          $ref: '#/components/schemas/TimestampWithTimezone'
          description: The start time of the availability status
        end:
          $ref: '#/components/schemas/TimestampWithTimezone'
          description: The end time of the availability status
        isAllDay:
          type: boolean
          title: Isallday
          description: Whether the availability status is for a full day
        note:
          type: string
          title: Note
          description: The note of the availability status
      type: object
      required:
      - type
      - userId
      - start
      - end
      - isAllDay
      - note
      title: AvailabilityStatusDataResponse
    ManagerFieldFile:
      properties:
        managerFieldId:
          type: string
          title: Managerfieldid
          description: The manager field id.
        managerFieldType:
          type: string
          enum:
          - file
          title: Managerfieldtype
          description: The field type
          default: file
        files:
          items:
            $ref: '#/components/schemas/ManagerFieldFileModel'
          type: array
          title: Files
          description: The files.
      type: object
      required:
      - managerFieldId
      title: ManagerFieldFile
    NumberAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - number
          title: Questiontype
          description: The questions type
          default: number
        inputValue:
          type: number
          title: Inputvalue
          description: The input value.
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      title: NumberAnswer
    TimeActivityAdminApprovedEditRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: admin_approved_edit_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAdminApprovedEditRequestWebhookResponse
    TimeActivityAutoApprovedEditRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: auto_approved_edit_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAutoApprovedEditRequestWebhookResponse
    TimeActivityAdminEditWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: admin_edit
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAdminEditWebhookResponse
    DescriptionAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        questionType:
          type: string
          enum:
          - description
          title: Questiontype
          description: The questions type
          default: description
      type: object
      required:
      - questionId
      title: DescriptionAnswer
    ManagerFieldUpdatedWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
        data:
          allOf:
          - $ref: '#/components/schemas/FormSubmissionManagerFieldsResponse'
          title: Data
          description: The manager fields.
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - eventType
      - data
      title: ManagerFieldUpdatedWebhookResponse
    VideoAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - video
          title: Questiontype
          description: The questions type
          default: video
        videos:
          items:
            $ref: '#/components/schemas/FormVideoModel'
          type: array
          title: Videos
          description: The videos.
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      - videos
      title: VideoAnswer
    AvailabilityType:
      type: string
      enum:
      - available
      - preferToWork
      - unavailable
      - absence
      title: AvailabilityType
    ShiftUpdatedWebhookResponseData:
      properties:
        shifts:
          items:
            $ref: '#/components/schemas/WebhookShiftResponse'
          type: array
          title: Shifts
          description: The updated shifts
      type: object
      required:
      - shifts
      title: ShiftUpdatedWebhookResponseData
    FormFileModel:
      properties:
        url:
          type: string
          title: Url
          description: The URL of the file.
        size:
          type: integer
          title: Size
          description: The size of the file in bytes.
        fileName:
          type: string
          title: Filename
          description: The name of the file.
      type: object
      required:
      - url
      - size
      - fileName
      title: FormFileModel
    v2__features__workflow__external_api__v1__form_submissions__models__response__answer_models__ManagerFieldStatus:
      properties:
        managerFieldId:
          type: string
          title: Managerfieldid
          description: The manager field id.
        managerFieldType:
          type: string
          enum:
          - status
          title: Managerfieldtype
          description: The field type
          default: status
        lastUpdatedTimestamp:
          type: integer
          title: Lastupdatedtimestamp
          description: The timestamp of the status update.
        status:
          allOf:
          - $ref: '#/components/schemas/ManagerFieldStatusOption'
          title: Status
          description: The status of the field.
      type: object
      required:
      - managerFieldId
      title: ManagerFieldStatus
    GpsDataV2:
      properties:
        address:
          anyOf:
          - type: string
          - type: 'null'
          title: Address
          description: The address associated with the GPS data.
        longitude:
          anyOf:
          - type: number
            maximum: 180.0
            minimum: -180.0
            description: The longitude coordinate.
          - type: 'null'
          title: Longitude
          description: The longitude coordinate.
        latitude:
          anyOf:
          - type: number
            maximum: 90.0
            minimum: -90.0
            description: The latitude coordinate.
          - type: 'null'
          title: Latitude
          description: The latitude coordinate.
      type: object
      title: GpsDataV2
    TimeOffActivityDurationUnits:
      type: string
      enum:
      - hours
      - days
      title: TimeOffActivityDurationUnits
      description: An enumeration.
    StatusData:
      properties:
        statusId:
          type: string
          title: Statusid
          description: The ID of the status
        status:
          $ref: '#/components/schemas/StatusTypesAPI'
          description: 'The status of the shift, valid values:

            accepted, checked_in, completed, rejected, claimed, claim_requested, unclaimed, unclaim_requested, cancel_claim_request, reset'
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: The note of the status
        attachments:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Attachments
          description: The attachments of the status
        creationTime:
          anyOf:
          - type: integer
          - type: 'null'
          title: Creationtime
          description: The creation time of the status
        updateTime:
          anyOf:
          - type: integer
          - type: 'null'
          title: Updatetime
          description: The update time of the status
        creatingUserId:
          type: integer
          title: Creatinguserid
          description: The ID of the user who created the status
        modifyingUserId:
          anyOf:
          - type: integer
          - type: 'null'
          title: Modifyinguserid
          description: The ID of the user who modified the status
        gps:
          anyOf:
          - $ref: '#/components/schemas/GpsDataV2'
          - type: 'null'
          description: The GPS data of the status
        assignedUserId:
          anyOf:
          - type: integer
          - type: 'null'
          title: Assigneduserid
          description: The ID of the user assigned to the status
      type: object
      required:
      - statusId
      - status
      - creatingUserId
      title: StatusData
    ImageNoteDataOut:
      properties:
        url:
          type: string
          title: Url
          description: The url of the file to upload
      type: object
      required:
      - url
      title: ImageNoteDataOut
    CustomFieldResponseV2:
      properties:
        customFieldId:
          type: integer
          minimum: 1.0
          title: Customfieldid
          description: The custom field unique id
        value:
          title: Value
          description: The custom field value
        type:
          $ref: '#/components/schemas/UserCustomFields'
          description: The custom field type
        name:
          type: string
          title: Name
          description: The custom field name
      type: object
      required:
      - customFieldId
      - value
      - type
      - name
      title: CustomFieldResponseV2
    ImageAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - image
          title: Questiontype
          description: The questions type
          default: image
        images:
          items:
            $ref: '#/components/schemas/FormImageModel'
          type: array
          title: Images
          description: The images.
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      - images
      title: ImageAnswer
    ScannerAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - scanDocument
          title: Questiontype
          description: The questions type
          default: scanDocument
        images:
          items:
            $ref: '#/components/schemas/FormImageModel'
          type: array
          title: Images
          description: The images.
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      - images
      title: ScannerAnswer
    FormSubmissionManagerFieldsResponse:
      properties:
        formSubmissionId:
          type: string
          title: Formsubmissionid
          description: The form submission id.
        formId:
          type: integer
          title: Formid
          description: The forms id.
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        submissionTimezone:
          type: string
          title: Submissiontimezone
          description: The timezone of the submission.
        entryNum:
          type: integer
          title: Entrynum
          description: The entry number.
        managerFields:
          items:
            oneOf:
            - $ref: '#/components/schemas/ManagerFieldDate'
            - $ref: '#/components/schemas/ManagerFieldFile'
            - $ref: '#/components/schemas/ManagerFieldSignature'
            - $ref: '#/components/schemas/ManagerFieldOwner'
            - $ref: '#/components/schemas/v2__features__workflow__external_api__v1__form_submissions__models__response__answer_models__ManagerFieldStatus'
            - $ref: '#/components/schemas/ManagerFieldNote'
            discriminator:
              propertyName: managerFieldType
              mapping:
                date: '#/components/schemas/ManagerFieldDate'
                file: '#/components/schemas/ManagerFieldFile'
                signature: '#/components/schemas/ManagerFieldSignature'
                owner: '#/components/schemas/ManagerFieldOwner'
                status: '#/components/schemas/v2__features__workflow__external_api__v1__form_submissions__models__response__answer_models__ManagerFieldStatus'
                note: '#/components/schemas/ManagerFieldNote'
          type: array
          title: Managerfields
          description: The manager fields.
      type: object
      required:
      - formSubmissionId
      - formId
      - submissionTimestamp
      - submissionTimezone
      - entryNum
      - managerFields
      title: FormSubmissionManagerFieldsResponse
    TimeActivityAutoClockOutWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: auto_clock_out
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAutoClockOutWebhookResponse
    FormMultipleChoiceOptionModel:
      properties:
        multipleChoiceOptionId:
          type: string
          title: Multiplechoiceoptionid
          description: The ID of the multiple choice option
        text:
          type: string
          title: Text
          description: The text of the option
      type: object
      required:
      - multipleChoiceOptionId
      - text
      title: FormMultipleChoiceOptionModel
    SliderAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - slider
          title: Questiontype
          description: The questions type
          default: slider
        value:
          type: integer
          title: Value
          description: The value of the slider.
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      title: SliderAnswer
    TimeActivityTimePointResponse:
      properties:
        timestamp:
          type: integer
          minimum: 1.0
          title: Timestamp
          description: The timestamp in Unix format (in seconds)
        timezone:
          type: string
          title: Timezone
          description: The timezone in Tz format (e.g. America/New_York)
        locationData:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Locationdata
          description: The location data
        geofenceId:
          type: string
          title: Geofenceid
          description: The ID of the geofence the user was inside when this punch was recorded. None if the punch was outside any configured geofence.
        source:
          allOf:
          - $ref: '#/components/schemas/PunchSourceResponse'
          title: Source
          description: Describes the origin from which the punch was created
      type: object
      required:
      - timestamp
      - timezone
      title: TimeActivityTimePointResponse
    FileNoteDataOut:
      properties:
        url:
          type: string
          title: Url
          description: The url of the file to upload
        type:
          type: string
          title: Type
          description: URL note type
          default: file
        name:
          type: string
          title: Name
          description: The name of the file
      type: object
      required:
      - url
      - name
      title: FileNoteDataOut
    TimeActivityClockInWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: clock_in
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityClockInWebhookResponse
    ManagerFieldNote:
      properties:
        managerFieldId:
          type: string
          title: Managerfieldid
          description: The manager field id.
        managerFieldType:
          type: string
          enum:
          - note
          title: Managerfieldtype
          description: The field type
          default: note
        note:
          type: string
          title: Note
          description: The note filled in the field.
      type: object
      required:
      - managerFieldId
      title: ManagerFieldNote
    TimeActivityAdminApprovedClockOutOutsideGeoFenceRequestWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: admin_approved_clock_out_outside_geo_fence_request
        userId:
          type: integer
          minimum: 1.0
          title: Userid
          description: The unique identifier of the user
        timeClockId:
          type: integer
          minimum: 1.0
          title: Timeclockid
          description: The unique identifier of the time clock
        timeActivity:
          anyOf:
          - $ref: '#/components/schemas/ManualBreakActivityResponse'
          - $ref: '#/components/schemas/TimeOffActivityResponse'
          - $ref: '#/components/schemas/ShiftActivityResponse'
          title: Timeactivity
          description: The time activity
        timeActivityId:
          type: string
          title: Timeactivityid
          description: The time activity id
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - userId
      title: TimeActivityAdminApprovedClockOutOutsideGeoFenceRequestWebhookResponse
    ManualBreakActivityResponse:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the time clock
        managerNote:
          type: string
          title: Managernote
          description: The manager note providing additional details
        employeeNote:
          type: string
          title: Employeenote
          description: The employee note providing additional details
        start:
          allOf:
          - $ref: '#/components/schemas/TimeActivityTimePointResponse'
          title: Start
          description: The start time of the time activity
        end:
          allOf:
          - $ref: '#/components/schemas/TimeActivityTimePointResponse'
          title: End
          description: The end time of the time activity
        createdAt:
          type: integer
          minimum: 1.0
          title: Createdat
          description: The creation time of the time activity
        modifiedAt:
          type: integer
          minimum: 1.0
          title: Modifiedat
          description: The last modification time of the time activity
        manualBreakId:
          type: string
          title: Manualbreakid
          description: The ID of the manual break
        isAutoClockOut:
          type: boolean
          title: Isautoclockout
          description: Indicates whether the user was auto clocked out from the shift
          default: false
      type: object
      required:
      - id
      - start
      - manualBreakId
      title: ManualBreakActivityResponse
    GeneralActivityShiftAttachmentValueResponse:
      properties:
        itemId:
          type: string
          title: Itemid
          description: The ID of the dropdown list item
        freeText:
          type: string
          title: Freetext
          description: The value of the shift attachment of type free text
        number:
          type: number
          title: Number
          description: The value of the shift attachment of type number
        fileName:
          type: string
          title: Filename
          description: The name of the file in a shift attachment of type file
        fileUrl:
          type: string
          title: Fileurl
          description: The URL of the file in a shift attachment of type file
        files:
          items:
            $ref: '#/components/schemas/ActivityFileResponse'
          type: array
          title: Files
          description: The value of the shift attachment of type files
        images:
          items:
            type: string
          type: array
          title: Images
          description: The value of the shift attachment of type images
        image:
          type: string
          title: Image
          description: The value of the shift attachment of type signature
      type: object
      title: GeneralActivityShiftAttachmentValueResponse
    YesNoAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - yesNo
          title: Questiontype
          description: The questions type
          default: yesNo
        selectedIndex:
          type: integer
          title: Selectedindex
          description: The selected index.
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      title: YesNoAnswer
    WebhookShiftResponse:
      properties:
        id:
          type: string
          title: Id
          description: The ID of the shift
        color:
          type: string
          title: Color
          description: The color of the shift
        assignedUserIds:
          items:
            type: integer
            minimum: 1.0
            description: Integer with minimum value of 1
          type: array
          title: Assigneduserids
          description: The IDs of the assigned users
        startTime:
          type: integer
          minimum: 1.0
          title: Starttime
          description: The start time of the shift
        endTime:
          type: integer
          minimum: 1.0
          title: Endtime
          description: The end time of the shift
        timezone:
          type: string
          title: Timezone
          description: The timezone of the shift
        isOpenShift:
          type: boolean
          title: Isopenshift
          description: Whether the shift is an open shift
        title:
          type: string
          title: Title
          description: The title of the shift
        jobId:
          anyOf:
          - type: string
          - type: 'null'
          title: Jobid
          description: The ID of the job
        locationData:
          anyOf:
          - $ref: '#/components/schemas/LocationDataAPI'
          - type: 'null'
          description: The location data
        isPublished:
          type: boolean
          title: Ispublished
          description: Whether the shift is published
        isRequireAdminApproval:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Isrequireadminapproval
          description: Whether the shift requires admin approval
        updateTime:
          anyOf:
          - type: integer
            minimum: 1.0
            description: Integer with minimum value of 1
          - type: 'null'
          title: Updatetime
          description: The update time of the shift
        creationTime:
          anyOf:
          - type: integer
            minimum: 1.0
            description: Integer with minimum value of 1
          - type: 'null'
          title: Creationtime
          description: The creation time of the shift
        createdBy:
          anyOf:
          - type: integer
            minimum: 1.0
            description: Integer with minimum value of 1
          - type: 'null'
          title: Createdby
          description: The user ID of the admin who created the shift. If the shift was created via API, the user ID will be the owner of the authentication key
        openSpots:
          anyOf:
          - type: integer
          - type: 'null'
          title: Openspots
          description: The number of open spots
        notes:
          items:
            anyOf:
            - $ref: '#/components/schemas/HTMLNoteDataOut'
            - $ref: '#/components/schemas/AlbumNoteDataOut'
            - $ref: '#/components/schemas/FileNoteDataOut'
          type: array
          title: Notes
          description: The notes of the shift
        statuses:
          items:
            $ref: '#/components/schemas/StatusData'
          type: array
          title: Statuses
          description: The statuses of the shift
        breaks:
          items:
            $ref: '#/components/schemas/ShiftBreakDataApi'
          type: array
          title: Breaks
          description: The breaks of the shift
        shiftDetails:
          $ref: '#/components/schemas/ShiftDetailsOutput'
          description: The additional details on the shift, if applicable
        customFields:
          items:
            $ref: '#/components/schemas/CustomFieldResponseV2'
          type: array
          title: Customfields
          description: The shift's custom fields
        allDay:
          type: boolean
          title: Allday
          description: Indicates if the shift is an all-day event
      type: object
      required:
      - id
      - color
      - startTime
      - endTime
      - timezone
      - isOpenShift
      - title
      - isPublished
      - shiftDetails
      - allDay
      title: WebhookShiftResponse
    EmailAnswer:
      properties:
        questionId:
          type: string
          title: Questionid
          description: The questions id.
        wasHidden:
          type: boolean
          title: Washidden
          description: Whether the submission was hidden (by a condition).
        submissionTimestamp:
          type: integer
          title: Submissiontimestamp
          description: The timestamp of the submission.
        location:
          allOf:
          - $ref: '#/components/schemas/GpsData'
          title: Location
          description: The location of the submission.
        updateTimestamp:
          type: integer
          title: Updatetimestamp
          description: The timestamp of the last update.
        updateUserId:
          type: integer
          title: Updateuserid
          description: The user id of the last update.
        wasSubmittedEmpty:
          type: boolean
          title: Wassubmittedempty
          description: Whether the submission was empty.
        questionType:
          type: string
          enum:
          - emailAddress
          title: Questiontype
          description: The questions type
          default: emailAddress
        value:
          type: string
          title: Value
          description: The email address
      type: object
      required:
      - questionId
      - wasSubmittedEmpty
      title: EmailAnswer
    GpsData:
      properties:
        address:
          type: string
          title: Address
          description: The address associated with the GPS data.
        longitude:
          type: number
          title: Longitude
          description: The longitude coordinate.
        latitude:
          type: number
          title: Latitude
          description: The latitude coordinate.
      type: object
      title: GpsData
    AvailabilityDeletedStatusWebhookResponse:
      properties:
        requestId:
          type: string
          title: Requestid
          description: The request id
        company:
          type: string
          title: Company
          description: The company id
        activityType:
          type: string
          title: Activitytype
          description: The activity type
        eventTimestamp:
          type: integer
          title: Eventtimestamp
          description: The event unix timestamp
        evnetTimestamp:
          type: integer
          title: Evnettimestamp
          description: 'DEPRECATED: Use event_timestamp instead'
        eventType:
          type: string
          title: Eventtype
          description: The event type that triggers the webhook
          default: availability_status_deleted
        schedulerId:
          type: integer
          minimum: 1.0
          title: Schedulerid
          description: The unique identifier of the schedule
        availabilityStatuses:
          items:
            $ref: '#/components/schemas/AvailabilityStatusDataResponse'
          type: array
          title: Availabilitystatuses
          description: The availability status items
        isAdminAction:
          type: boolean
          title: Isadminaction
          description: Whether the action was done by an admin
      type: object
      required:
      - company
      - activityType
      - eventTimestamp
      - evnetTimestamp
      - schedulerId
      - availabilityStatuses
      - isAdminAction
      title: AvailabilityDeletedStatusWebhookResponse
      description: Webhook response for availability status deleted event
    MultipleChoiceAnswer:
      properties:
        questionId:
[...]
