openapi: 3.2.0
info:
  title: Connecteam API documentation Schedule:v1:Schedulers:Schedule:Shift Auto Assign API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Schedule:v1:Schedulers:Schedule:Shift Auto Assign
paths:
  /scheduler/v1/schedulers/{schedulerId}/shifts/auto-assign:
    post:
      tags:
      - Schedule:v1:Schedulers:Schedule:Shift Auto Assign
      summary: Create auto-assign request
      description: Initiate a request to auto-assign shifts by their IDs. If multiple IDs are provided, all corresponding shifts must occur within the same work week (e.g., Monday to Sunday). This endpoint only submits the request; processing may take a few minutes. The auto-assignment considers user preferences to work, unavailability, and approved time off. For assignment status, refer to the auto-assign status endpoint.
      operationId: create_autofill_request_scheduler_v1_schedulers__schedulerId__shifts_auto_assign_post
      security:
      - APIKeyHeader: []
      - OAuth2:
        - schedule.write
      parameters:
      - name: schedulerId
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier of the schedule
          title: Schedulerid
        description: The unique identifier of the schedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoAssignRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseV2_AutoAssignResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scheduler/v1/schedulers/{schedulerId}/shifts/auto-assign/{autoAssignRequestId}:
    get:
      tags:
      - Schedule:v1:Schedulers:Schedule:Shift Auto Assign
      summary: Get auto-assign status
      description: Retrieve the status of an auto-assign request using its unique request ID. The response categorizes the results into 'scheduled shifts' for successfully assigned shifts and 'unscheduled shifts' for those where auto-assignment was not successful.
      operationId: get_autofill_status_scheduler_v1_schedulers__schedulerId__shifts_auto_assign__autoAssignRequestId__get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - schedule.read
      parameters:
      - name: autoAssignRequestId
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier of the auto assign request
          title: Autoassignrequestid
        description: The unique identifier of the auto assign request
      - name: schedulerId
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier of the schedule
          title: Schedulerid
        description: The unique identifier of the schedule
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseV2_AutoAssignStatusResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    AutoAssignResponse:
      properties:
        autoAssignRequestId:
          type: string
          title: Autoassignrequestid
          description: The unique identifier of the auto assign request
      type: object
      required:
      - autoAssignRequestId
      title: AutoAssignResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AutoAssignStatusResponse:
      properties:
        autoAssignRequestId:
          type: string
          title: Autoassignrequestid
          description: The unique identifier of the auto assign request
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
          description: The status of the request
        assignedShiftIds:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Assignedshiftids
          description: List of shift IDs that were successfully assigned
        unassignedShiftIds:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Unassignedshiftids
          description: List of shift IDs that were not successfully assigned
      type: object
      required:
      - autoAssignRequestId
      title: AutoAssignStatusResponse
    APIResponseV2_AutoAssignStatusResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/AutoAssignStatusResponse'
      type: object
      required:
      - data
      title: APIResponseV2[AutoAssignStatusResponse]
    AutoAssignRequest:
      properties:
        shiftsIds:
          items:
            type: string
          type: array
          title: Shiftsids
          description: List of shift IDs to start a request to auto assign. The shifts must be within the same week period (according to the schedule settings).
        isForceQualification:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Isforcequalification
          description: Determines whether to take into consideration the qualifications of users.
          default: true
        isForceUnavailability:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Isforceunavailability
          description: Determines whether to consider users' unavailabilities.
          default: true
        isForceLimitations:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Isforcelimitations
          description: Determines whether to consider users' limitations.
          default: true
        isForceOpenShiftRequests:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Isforceopenshiftrequests
          description: Determines whether to assign open shifts exclusively to requesters. If set to false, it first prioritizes requesters, then assigns the remaining.
          default: false
      type: object
      required:
      - shiftsIds
      title: AutoAssignRequest
    APIResponseV2_AutoAssignResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/AutoAssignResponse'
      type: object
      required:
      - data
      title: APIResponseV2[AutoAssignResponse]
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
