openapi: 3.2.0
info:
  title: Connecteam API documentation Breadcrumbs:Breadcrumbs API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Breadcrumbs:Breadcrumbs
paths:
  /time-clock/breadcrumbs/v1/report:
    post:
      tags:
      - Breadcrumbs:Breadcrumbs
      summary: Generate breadcrumbs report
      description: Initiate a breadcrumbs report for a specific date. Returns a request ID that can be used to check the report status.
      operationId: generate_breadcrumbs_report_time_clock_breadcrumbs_v1_report_post
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BreadcrumbsReportRequest'
              title: Request Body
              description: Report request with date
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_BreadcrumbsReportResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2:
        - time_clock.read
  /time-clock/breadcrumbs/v1/report/{fileId}:
    get:
      tags:
      - Breadcrumbs:Breadcrumbs
      summary: Get breadcrumbs report status
      description: Get the status of a breadcrumbs report task. Returns 'completed' when the file is ready in S3.
      operationId: get_report_status_time_clock_breadcrumbs_v1_report__fileId__get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - time_clock.read
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          title: Fileid
          description: The request ID from the report endpoint
          type: string
        description: The request ID from the report endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_BreadcrumbsReportStatusResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /time-clock/breadcrumbs/v1/report/{fileId}/download:
    get:
      tags:
      - Breadcrumbs:Breadcrumbs
      summary: Download breadcrumbs report
      description: Stream the breadcrumbs JSON report directly from S3. Only available when the task status is 'completed'.
      operationId: download_breadcrumbs_report_time_clock_breadcrumbs_v1_report__fileId__download_get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - time_clock.read
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          title: Fileid
          description: The request ID from the report endpoint
          type: string
        description: The request ID from the report endpoint
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    BreadcrumbsReportStatusResponse:
      properties:
        status:
          type: string
          title: Status
          description: 'Task status: in_queue, in_progress, completed, error, or canceled'
        errorMsg:
          type: string
          title: Errormsg
          description: Error message when status is error
      type: object
      required:
      - status
      title: BreadcrumbsReportStatusResponse
    BreadcrumbsReportRequest:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: Date for which to generate breadcrumbs report (YYYY-MM-DD)
      type: object
      required:
      - date
      title: BreadcrumbsReportRequest
    APIResponse_BreadcrumbsReportStatusResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/BreadcrumbsReportStatusResponse'
      type: object
      required:
      - data
      title: APIResponse[BreadcrumbsReportStatusResponse]
    APIResponse_BreadcrumbsReportResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/BreadcrumbsReportResponse'
      type: object
      required:
      - data
      title: APIResponse[BreadcrumbsReportResponse]
    BreadcrumbsReportResponse:
      properties:
        fileId:
          type: string
          title: Fileid
          description: Request ID for tracking the report task
      type: object
      required:
      - fileId
      title: BreadcrumbsReportResponse
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
