openapi: 3.2.0
info:
  title: Connecteam API documentation O Auth API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: OAuth
paths:
  /oauth/v1/token:
    post:
      tags:
      - OAuth
      summary: Issue Access Token
      description: Issue an OAuth access token using client credentials grant. Use HTTP Basic Authentication with your client_id and client_secret.
      operationId: oauth_token_docs_oauth_v1_token_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_oauth_token_docs_oauth_v1_token_post'
      responses:
        '200':
          description: Successfully issued access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Invalid grant type
        '401':
          description: Invalid client credentials
        '403':
          description: Unauthorized scopes requested
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    OAuthTokenResponse:
      properties:
        access_token:
          type: string
          title: Access Token
          description: The access token issued by the authorization server
        token_type:
          type: string
          title: Token Type
          description: The type of token issued (always 'bearer')
        expires_in:
          type: integer
          title: Expires In
          description: The lifetime in seconds of the access token
        scope:
          anyOf:
          - type: string
          - type: 'null'
          title: Scope
          description: Space-separated list of scopes granted
      type: object
      required:
      - access_token
      - token_type
      - expires_in
      title: OAuthTokenResponse
      description: 'OAuth2 token response following RFC 6749.

        Overrides alias_generator to keep snake_case field names (not camelCase).'
    Body_oauth_token_docs_oauth_v1_token_post:
      properties:
        grant_type:
          type: string
          title: Grant Type
          description: OAuth 2.0 grant type (must be 'client_credentials')
          default: client_credentials
        scope:
          anyOf:
          - type: string
          - type: 'null'
          title: Scope
          description: Space-separated list of requested scopes
      type: object
      title: Body_oauth_token_docs_oauth_v1_token_post
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
