openapi: 3.2.0
info:
  title: Connecteam API documentation Daily Note:v1:Daily Notes API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: DailyNote:v1:DailyNotes
paths:
  /daily-info/v1/daily-notes:
    post:
      tags:
      - DailyNote:v1:DailyNotes
      summary: Create daily note
      description: Create a note under a specified schedule for a specific date
      operationId: create_note_daily_info_v1_daily_notes_post
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DailyNoteCreateRequest'
              title: Note Request
              description: Request model for the new note
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_DailyNoteResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - OAuth2:
        - daily_note.write
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    APIResponse_DailyNoteResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/DailyNoteResponse'
      type: object
      required:
      - data
      title: APIResponse[DailyNoteResponse]
    DailyNoteCreateRequest:
      properties:
        title:
          type: string
          title: Title
          description: The title of the note
        qualifiedUserIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Qualifieduserids
          description: The users qualified to see the note
          default: []
        qualifiedGroupIds:
          items:
            type: integer
          type: array
          title: Qualifiedgroupids
          description: The groups qualified to see the note
          default: []
        date:
          type: string
          title: Date
          description: The date for the note in ISO 8601 format (e.g. YYYY-MM-DD)
        instanceId:
          type: integer
          title: Instanceid
          description: The unique identifier of the schedule
      type: object
      required:
      - title
      - date
      - instanceId
      title: DailyNoteCreateRequest
    DailyNoteResponse:
      properties:
        id:
          type: integer
          title: Id
          description: The note ID
        title:
          type: string
          title: Title
          description: The title of the note
        qualifiedUserIds:
          items:
            type: integer
            minimum: 1.0
          type: array
          title: Qualifieduserids
          description: The users qualified to see the note
          default: []
        qualifiedGroupIds:
          items:
            type: integer
          type: array
          title: Qualifiedgroupids
          description: The groups qualified to see the note
          default: []
        dates:
          items:
            type: string
          type: array
          title: Dates
          description: Dates the note is relevant for in ISO 8601 format (e.g. YYYY-MM-DD)
      type: object
      required:
      - id
      - title
      - dates
      title: DailyNoteResponse
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
