{"openapi":"3.1.0","info":{"title":"Connecteam API documentation","version":"v1"},"servers":[{"url":"https://api.connecteam.com/"}],"paths":{"/me":{"get":{"tags":["Account"],"summary":"Get account information","description":"Retrieve the account information","operationId":"get_account_information_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_MeResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"OAuth2":["account_information.read"]}]}},"/settings/v1/webhooks/{webhookId}":{"get":{"tags":["Settings:v1:Webhook"],"summary":"Get webhook","description":"Retrieve single webhook information by its unique ID","operationId":"get_webhook_settings_v1_webhooks__webhookId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["settings.read"]}],"parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the webhook","title":"Webhookid"},"description":"The unique identifier of the webhook"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_PublicBaseWebhookResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Settings:v1:Webhook"],"summary":"Update Webhook","description":"Update an existing webhook settings by its unique ID.","operationId":"update_webhook_settings_v1_webhooks__webhookId__put","security":[{"APIKeyHeader":[]},{"OAuth2":["settings.write"]}],"parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the webhook","title":"Webhookid"},"description":"The unique identifier of the webhook"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookUpdateRequest","description":"Update data for new webhook"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_PublicBaseWebhookResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Settings:v1:Webhook"],"summary":"Delete webhook","description":"Delete a single webhook configuration by its unique ID","operationId":"delete_webhook_settings_v1_webhooks__webhookId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["settings.delete"]}],"parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the webhook","title":"Webhookid"},"description":"The unique identifier of the webhook"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_WebhookDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/settings/v1/webhooks":{"post":{"tags":["Settings:v1:Webhook"],"summary":"Create webhook","description":"Create individual webhook settings under specified details","operationId":"create_webhook_settings_v1_webhooks_post","security":[{"APIKeyHeader":[]},{"OAuth2":["settings.write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreateRequest","description":"Create data for new webhook"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_PublicBaseWebhookResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Settings:v1:Webhook"],"summary":"Get webhooks","description":"Retrieves a list of webhook settings associated with the account.","operationId":"get_webhooks_by_type_settings_v1_webhooks_get","security":[{"APIKeyHeader":[]},{"OAuth2":["settings.read"]}],"parameters":[{"name":"featureType","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The feature type of the webhook. Current options are: users, forms, time_activity, tasks","title":"Featuretype"},"description":"The feature type of the webhook. Current options are: users, forms, time_activity, tasks"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"The maximum number of results to display per page","default":10,"title":"Limit"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"title":"Offset"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponseV2_WebhookListResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/attachments/v1/files/generate-upload-url":{"post":{"tags":["Attachments:v1:Files"],"summary":"Generate upload url","description":"Generates a pre-signed URL that can be used to securely upload an attachment to the cloud. The pre-signed URL ensures temporary access for the upload (300 seconds), and it will be associated with a specific feature within the application.","operationId":"generate_upload_url_attachments_v1_files_generate_upload_url_post","requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/FileURLCreateRequest"}],"title":"Request Upload Url","description":"Create data for new file upload URL"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FileURLResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"OAuth2":["attachments.write"]}]}},"/attachments/v1/files/complete-upload/{fileId}":{"put":{"tags":["Attachments:v1:Files"],"summary":"Finalize upload","description":"Finalizes the upload process for the attachment identified by the fileId. It confirms and registers the uploaded file, ensuring it is properly associated with the relevant feature.","operationId":"finalize_upload_attachments_v1_files_complete_upload__fileId__put","security":[{"APIKeyHeader":[]},{"OAuth2":["attachments.write"]}],"parameters":[{"name":"fileId","in":"path","required":true,"schema":{"title":"Fileid","description":"The unique identifier for the uploaded filetype","type":"string"},"description":"The unique identifier for the uploaded filetype"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FileCompleteUploadResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/attachments/v1/files/{fileId}":{"get":{"tags":["Attachments:v1:Files"],"summary":"Get file metadata","description":"Retrieve detailed information about a previously uploaded attachment identified by the fileId. The response includes its metadata, and the status of the upload process.","operationId":"get_file_url_attachments_v1_files__fileId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["attachments.read"]}],"parameters":[{"name":"fileId","in":"path","required":true,"schema":{"title":"Fileid","description":"The unique identifier for the uploaded filetype","type":"string"},"description":"The unique identifier for the uploaded filetype"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetFileURLResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/attachments/v1/files/download-url":{"post":{"tags":["Attachments:v1:Files"],"summary":"Generate download URL","description":"Generates a time limited URL for downloading a file.","operationId":"generate_download_url_attachments_v1_files_download_url_post","requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/FileDownloadURLRequest"}],"title":"Request Body","description":"Request data for generating download URL"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FileDownloadURLResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"APIKeyHeader":[]},{"OAuth2":["attachments.read"]}]}},"/forms/v1/forms/{formId}":{"get":{"tags":["Forms:v1:Forms"],"summary":"Get form","description":"Retrieve single form information by its unique ID","operationId":"get_form_forms_v1_forms__formId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.read"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"Form id to return","minimum":1,"type":"integer"},"description":"Form id to return"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FormResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/forms/v1/forms":{"get":{"tags":["Forms:v1:Forms"],"summary":"Get forms","description":"Retrieve a list of forms associated with the account","operationId":"get_forms_forms_v1_forms_get","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.read"]}],"parameters":[{"name":"name","in":"query","required":false,"schema":{"title":"Name","description":"The name of the form to filter by (partial, case-insensitive match)","type":"string"},"description":"The name of the form to filter by (partial, case-insensitive match)"},{"name":"startDate","in":"query","required":false,"schema":{"title":"Startdate","description":"Filter forms created on or after this date (form creation date) in ISO 8601 format (YYYY-MM-DD). Inclusive.","type":"string"},"description":"Filter forms created on or after this date (form creation date) in ISO 8601 format (YYYY-MM-DD). Inclusive."},{"name":"endDate","in":"query","required":false,"schema":{"title":"Enddate","description":"Filter forms created on or before this date (form creation date) in ISO 8601 format (YYYY-MM-DD). Inclusive.","type":"string"},"description":"Filter forms created on or before this date (form creation date) in ISO 8601 format (YYYY-MM-DD). Inclusive."},{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":300,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_FormsGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/forms/v1/forms/{formId}/form-submissions":{"get":{"tags":["Forms:v1:Form Submissions"],"summary":"Get form submissions","description":"Retrieve a list of form submissions by form ID","operationId":"get_form_submissions_forms_v1_forms__formId__form_submissions_get","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.read"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"Filter by Form Id","minimum":1,"type":"integer"},"description":"Filter by Form Id"},{"name":"userIds","in":"query","required":false,"schema":{"title":"Userids","description":"Filter by submitting user ids","type":"array","items":{"type":"integer"}},"description":"Filter by submitting user ids"},{"name":"submittingStartTimestamp","in":"query","required":false,"schema":{"title":"Submittingstarttimestamp","description":"Filter form submissions that were submitted from this timestamp","type":"integer"},"description":"Filter form submissions that were submitted from this timestamp"},{"name":"submittingEndTime","in":"query","required":false,"schema":{"title":"Submittingendtime","description":"Filter form submissions that were submitted until this timestamp","type":"integer"},"description":"Filter form submissions that were submitted until this timestamp"},{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":100,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_FormsSubmissionsGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/forms/v1/forms/{formId}/form-submissions/{formSubmissionId}":{"get":{"tags":["Forms:v1:Form Submissions"],"summary":"Get form submission","description":"Retrieve a single form submission by form submission ID","operationId":"get_form_submission_forms_v1_forms__formId__form_submissions__formSubmissionId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.read"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"Form Id","minimum":1,"type":"integer"},"description":"Form Id"},{"name":"formSubmissionId","in":"path","required":true,"schema":{"title":"Formsubmissionid","description":"Filter by Form submission id","type":"string"},"description":"Filter by Form submission id"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FormsSubmissionGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Forms:v1:Form Submissions"],"summary":"Update form submission","description":"Update a single form submission by form submission ID. Currently, updates are only supported for manager fields.","operationId":"update_form_submissions_forms_v1_forms__formId__form_submissions__formSubmissionId__put","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.write"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"Form Id","minimum":1,"type":"integer"},"description":"Form Id"},{"name":"formSubmissionId","in":"path","required":true,"schema":{"title":"Formsubmissionid","description":"Filter by Form submission id","type":"string"},"description":"Filter by Form submission id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Form Submission","allOf":[{"$ref":"#/components/schemas/FormSubmissionPutRequest"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_FormsSubmissionPutResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/forms/v1/forms/{formId}/questions/{questionId}":{"get":{"tags":["Forms:v1:Questions"],"summary":"Get dropdown question options","description":"Retrieve the list of selectable options for a dropdown-type question within a specified form.","operationId":"get_dropdown_question_options_forms_v1_forms__formId__questions__questionId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.read"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"The unique identifier of the form","minimum":1,"type":"integer"},"description":"The unique identifier of the form"},{"name":"questionId","in":"path","required":true,"schema":{"title":"Questionid","description":"The unique identifier of the question within the specified form. This question must be of type dropdown.","type":"string"},"description":"The unique identifier of the question within the specified form. This question must be of type dropdown."},{"name":"includeDeleted","in":"query","required":false,"schema":{"title":"Includedeleted","description":"Include deleted options","default":false,"type":"boolean"},"description":"Include deleted options"},{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":500,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_GetDropdownOptionsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Forms:v1:Questions"],"summary":"Add dropdown options","description":"Add a new value option under a specified question. The value will be added to the existing value options and will not override them. Make sure the question type is of dropdown one.","operationId":"add_dropdown_options_forms_v1_forms__formId__questions__questionId__post","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.write"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"The unique identifier of the form","minimum":1,"type":"integer"},"description":"The unique identifier of the form"},{"name":"questionId","in":"path","required":true,"schema":{"title":"Questionid","description":"The unique identifier of the question within the specified form. This question must be of type dropdown.","type":"string"},"description":"The unique identifier of the question within the specified form. This question must be of type dropdown."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Dropdown Options","description":"The value to be added to the dropdown options list","allOf":[{"$ref":"#/components/schemas/AddDropdownOptionRequest"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_AddDropdownOptionsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/forms/v1/forms/{formId}/questions/{questionId}/options/{optionId}":{"put":{"tags":["Forms:v1:Questions"],"summary":"Update dropdown option","description":"Update the label of an existing option in a dropdown-type question within a specified form. This action overrides the current value.","operationId":"update_dropdown_options_forms_v1_forms__formId__questions__questionId__options__optionId__put","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.write"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"The unique identifier of the form","minimum":1,"type":"integer"},"description":"The unique identifier of the form"},{"name":"questionId","in":"path","required":true,"schema":{"title":"Questionid","description":"The unique identifier of the question within the specified form. This question must be of type dropdown.","type":"string"},"description":"The unique identifier of the question within the specified form. This question must be of type dropdown."},{"name":"optionId","in":"path","required":true,"schema":{"title":"Optionid","description":"The unique identifier of the specific option within the dropdown list.","type":"string"},"description":"The unique identifier of the specific option within the dropdown list."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Value Request","description":"The value to be updated. This will override the current option value.","allOf":[{"$ref":"#/components/schemas/UpdateDropdownOptionRequest"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_UpdateDropdownOptionResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Forms:v1:Questions"],"summary":"Delete dropdown option","description":"Delete an existing selectable option from a dropdown-type question within a specified form.","operationId":"delete_dropdown_option_forms_v1_forms__formId__questions__questionId__options__optionId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["forms.delete"]}],"parameters":[{"name":"formId","in":"path","required":true,"schema":{"title":"Formid","description":"The unique identifier of the form","minimum":1,"type":"integer"},"description":"The unique identifier of the form"},{"name":"questionId","in":"path","required":true,"schema":{"title":"Questionid","description":"The unique identifier of the question within the specified form. This question must be of type dropdown.","type":"string"},"description":"The unique identifier of the question within the specified form. This question must be of type dropdown."},{"name":"optionId","in":"path","required":true,"schema":{"title":"Optionid","description":"The unique identifier of the specific option within the dropdown list","type":"string"},"description":"The unique identifier of the specific option within the dropdown list"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DeleteDropdownOptionResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers":{"get":{"tags":["Schedule:v1:Schedulers"],"summary":"Get schedulers","description":"Retrieve a list of schedulers associated with the account","operationId":"get_schedulers_scheduler_v1_schedulers_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_SchedulersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}]}},"/scheduler/v1/schedulers/user-unavailability":{"get":{"tags":["Schedule:v1:Schedulers:Unavailabilities"],"summary":"Get user unavailabilities","description":"Retrieve a list of user unavailabilities, approved time-off requests and assigned shifts","operationId":"get_unavailabilities_scheduler_v1_schedulers_user_unavailability_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","description":"The unique identifier of the user","title":"Userid"},"description":"The unique identifier of the user"},{"name":"startTime","in":"query","required":true,"schema":{"type":"integer","description":"The start time to filter by in Unix format (in seconds)","title":"Starttime"},"description":"The start time to filter by in Unix format (in seconds)"},{"name":"endTime","in":"query","required":true,"schema":{"type":"integer","description":"The end time to filter by in Unix format (in seconds)","title":"Endtime"},"description":"The end time to filter by in Unix format (in seconds)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_GetUnavailabilitiesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/shifts":{"get":{"tags":["Schedule:v1:Schedulers:Schedule:Shifts:Shifts"],"summary":"Get shifts","description":"Retrieve a list of shifts under a specific schedule","operationId":"get_shifts_scheduler_v1_schedulers__schedulerId__shifts_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"startTime","in":"query","required":true,"schema":{"type":"integer","description":"The start time to filter by in Unix format (in seconds)","title":"Starttime"},"description":"The start time to filter by in Unix format (in seconds)"},{"name":"endTime","in":"query","required":true,"schema":{"type":"integer","description":"The end time to filter by in Unix format (in seconds)","title":"Endtime"},"description":"The end time to filter by in Unix format (in seconds)"},{"name":"isOpenShift","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter shifts that are open shifts","title":"Isopenshift"},"description":"Filter shifts that are open shifts"},{"name":"isPublished","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter shifts that are published","title":"Ispublished"},"description":"Filter shifts that are published"},{"name":"isRequireAdminApproval","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter shifts that require admin approval","title":"Isrequireadminapproval"},"description":"Filter shifts that require admin approval"},{"name":"jobId","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of job IDs","title":"Jobid"},"description":"List of job IDs"},{"name":"assignedUserIds","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"integer","minimum":1,"description":"Integer with minimum value of 1"}},{"type":"null"}],"description":"List of user IDs","title":"Assigneduserids"},"description":"List of user IDs"},{"name":"shiftId","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of shift IDs","title":"Shiftid"},"description":"List of shift IDs"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Title of the shift","title":"Title"},"description":"Title of the shift"},{"name":"sort","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ShiftsSortKeysExternal","description":"Sort key","default":"created_at"},"description":"Sort key"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort order, set only if sort key is set","default":"asc"},"description":"Sort order, set only if sort key is set"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"The maximum number of results to display per page","default":10,"title":"Limit"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"title":"Offset"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponseV2_ShiftBulkResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Schedule:v1:Schedulers:Schedule:Shifts:Shifts"],"summary":"Create shifts","description":"Create single or multiple shifts under a specific schedule","operationId":"create_shifts_scheduler_v1_schedulers__schedulerId__shifts_post","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.write"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShiftCreateRequest"},"max_items":500,"title":"Shifts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftBulkResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Schedule:v1:Schedulers:Schedule:Shifts:Shifts"],"summary":"Delete shifts","description":"Delete single or multiple shifts in a specified schedule","operationId":"delete_shifts_by_ids_scheduler_v1_schedulers__schedulerId__shifts_delete","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.delete"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShiftBulkDeleteRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftBulkDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Schedule:v1:Schedulers:Schedule:Shifts:Shifts"],"summary":"Update shifts","description":"Update single or multiple shifts under a specific schedule","operationId":"update_shifts_scheduler_v1_schedulers__schedulerId__shifts_put","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.write"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShiftUpdateRequest"},"title":"Shifts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftUpdateBulkResponse_"}}}},"400":{"description":"Invalid shift update request. For targeted V2 Vision base/group edits, assignedUserIds must be provided when isEditForAllUsers is explicitly false."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/shifts/{shiftId}":{"get":{"tags":["Schedule:v1:Schedulers:Schedule:Shifts:Shifts"],"summary":"Get shift","description":"Retrieve single shift information by its unique ID","operationId":"get_shift_by_id_scheduler_v1_schedulers__schedulerId__shifts__shiftId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"shiftId","in":"path","required":true,"schema":{"type":"string","description":"The unique identifier of the shift","title":"Shiftid"},"description":"The unique identifier of the shift"},{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Schedule:v1:Schedulers:Schedule:Shifts:Shifts"],"summary":"Delete shift","description":"Delete a single shift by its unique ID","operationId":"delete_shift_by_id_scheduler_v1_schedulers__schedulerId__shifts__shiftId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.delete"]}],"parameters":[{"name":"shiftId","in":"path","required":true,"schema":{"type":"string","description":"The ID of the shift to delete","title":"Shiftid"},"description":"The ID of the shift to delete"},{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/shift-layers":{"get":{"tags":["Schedule:v1:Schedulers:Schedule:Shift layers"],"summary":"Get shift layers","description":"Retrieve a list of shift layers under a specified schedule","operationId":"get_shift_layers_scheduler_v1_schedulers__schedulerId__shift_layers_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_GetSchedulerShiftLayersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/shift-layers/{layerId}/values":{"get":{"tags":["Schedule:v1:Schedulers:Schedule:Shift layers"],"summary":"Get shift layer values","description":"Retrieve the possible values of a shift layer","operationId":"get_shift_layer_values_scheduler_v1_schedulers__schedulerId__shift_layers__layerId__values_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"layerId","in":"path","required":true,"schema":{"type":"string","description":"The unique identifier of the layer","title":"Layerid"},"description":"The unique identifier of the layer"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"The maximum number of results to display per page","default":10,"title":"Limit"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"title":"Offset"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponseV2_GetSchedulerShiftLayerValuesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/custom-fields":{"get":{"tags":["Schedule:v1:Schedulers:Schedule:Shift Custom Fields"],"summary":"Get shift custom fields","description":"Retrieves all shift custom fields associated with the scheduler","operationId":"get_shift_custom_fields_scheduler_v1_schedulers__schedulerId__custom_fields_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"The maximum number of results to display per page","default":10,"title":"Limit"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"title":"Offset"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponseV2_GetShiftCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/shifts/auto-assign":{"post":{"tags":["Schedule:v1:Schedulers:Schedule:Shift Auto Assign"],"summary":"Create auto-assign request","description":"Initiate a request to auto-assign shifts by their IDs. If multiple IDs are provided, all corresponding shifts must occur within the same work week (e.g., Monday to Sunday). This endpoint only submits the request; processing may take a few minutes. The auto-assignment considers user preferences to work, unavailability, and approved time off. For assignment status, refer to the auto-assign status endpoint.","operationId":"create_autofill_request_scheduler_v1_schedulers__schedulerId__shifts_auto_assign_post","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.write"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoAssignRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_AutoAssignResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/shifts/auto-assign/{autoAssignRequestId}":{"get":{"tags":["Schedule:v1:Schedulers:Schedule:Shift Auto Assign"],"summary":"Get auto-assign status","description":"Retrieve the status of an auto-assign request using its unique request ID. The response categorizes the results into 'scheduled shifts' for successfully assigned shifts and 'unscheduled shifts' for those where auto-assignment was not successful.","operationId":"get_autofill_status_scheduler_v1_schedulers__schedulerId__shifts_auto_assign__autoAssignRequestId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"autoAssignRequestId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the auto assign request","title":"Autoassignrequestid"},"description":"The unique identifier of the auto assign request"},{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_AutoAssignStatusResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/unavailability":{"post":{"tags":["Schedule:v1:Schedulers:Schedule:Schedule Unavailability"],"summary":"Create schedule unavailability","description":"Create a single unavailability in the specified schedule for a designated user on a given date. The unavailability can be set for the entire day or for a specific part of it. Repeating unavailabilities are currently not supported. The timezone of the unavailability will be determined based on the schedule's settings.","operationId":"create_scheduler_unavailability_scheduler_v1_schedulers__schedulerId__unavailability_post","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.write"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnavailabilityCreateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_UnavailabilityCreateResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/unavailability/{unavailabilityId}":{"delete":{"tags":["Schedule:v1:Schedulers:Schedule:Schedule Unavailability"],"summary":"Delete schedule unavailability","description":"Delete existing unavailability by its unavailability ID","operationId":"delete_scheduler_unavailability_scheduler_v1_schedulers__schedulerId__unavailability__unavailabilityId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.delete"]}],"parameters":[{"name":"unavailabilityId","in":"path","required":true,"schema":{"type":"string","description":"The unique identifier of the unavailability","title":"Unavailabilityid"},"description":"The unique identifier of the unavailability"},{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_UnavailabilityDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v1/schedulers/{schedulerId}/unavailabilities":{"get":{"tags":["Schedule:v1:Schedulers:Schedule:Schedule Unavailabilities"],"summary":"Get schedule unavailabilities","description":"Retrieve a list of unavailabilities under a specific schedule filtered by date range. The response is paginated and can be filtered by user ID.","operationId":"get_unavailabilities_scheduler_v1_schedulers__schedulerId__unavailabilities_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"startTime","in":"query","required":true,"schema":{"type":"integer","description":"The start time to filter by in Unix format (in seconds)","title":"Starttime"},"description":"The start time to filter by in Unix format (in seconds)"},{"name":"endTime","in":"query","required":true,"schema":{"type":"integer","description":"The end time to filter by in Unix format (in seconds)","title":"Endtime"},"description":"The end time to filter by in Unix format (in seconds)"},{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":500,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponseV2_UnavailabilitiesListGetResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v2/schedulers/{schedulerId}/shifts":{"get":{"tags":["Schedule:v2:Schedulers:Schedule:Shifts (V2):Shifts"],"summary":"Get shifts","description":"Retrieve a list of shifts under a specific schedule","operationId":"get_shifts_scheduler_v2_schedulers__schedulerId__shifts_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"startTime","in":"query","required":true,"schema":{"type":"integer","description":"The start time to filter by in Unix format (in seconds)","title":"Starttime"},"description":"The start time to filter by in Unix format (in seconds)"},{"name":"endTime","in":"query","required":true,"schema":{"type":"integer","description":"The end time to filter by in Unix format (in seconds)","title":"Endtime"},"description":"The end time to filter by in Unix format (in seconds)"},{"name":"isOpenShift","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter shifts that are open shifts","title":"Isopenshift"},"description":"Filter shifts that are open shifts"},{"name":"isPublished","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter shifts that are published","title":"Ispublished"},"description":"Filter shifts that are published"},{"name":"isRequireAdminApproval","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter shifts that require admin approval","title":"Isrequireadminapproval"},"description":"Filter shifts that require admin approval"},{"name":"jobId","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of job IDs","title":"Jobid"},"description":"List of job IDs"},{"name":"assignedUserIds","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"integer","minimum":1,"description":"Integer with minimum value of 1"}},{"type":"null"}],"description":"List of user IDs","title":"Assigneduserids"},"description":"List of user IDs"},{"name":"shiftId","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of shift IDs","title":"Shiftid"},"description":"List of shift IDs"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Title of the shift","title":"Title"},"description":"Title of the shift"},{"name":"sort","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ShiftsSortKeysExternal","description":"Sort key","default":"created_at"},"description":"Sort key"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort order, set only if sort key is set","default":"asc"},"description":"Sort order, set only if sort key is set"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"The maximum number of results to display per page","default":10,"title":"Limit"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"title":"Offset"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponseV2_ShiftBulkResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Schedule:v2:Schedulers:Schedule:Shifts (V2):Shifts"],"summary":"Create shifts","description":"Create single or multiple shifts under a specific schedule","operationId":"create_shifts_scheduler_v2_schedulers__schedulerId__shifts_post","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.write"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShiftCreateRequest"},"max_items":500,"title":"Shifts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftBulkResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Schedule:v2:Schedulers:Schedule:Shifts (V2):Shifts"],"summary":"Delete shifts","description":"Delete single or multiple shifts in a specified schedule","operationId":"delete_shifts_by_ids_scheduler_v2_schedulers__schedulerId__shifts_delete","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.delete"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShiftBulkDeleteRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftBulkDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Schedule:v2:Schedulers:Schedule:Shifts (V2):Shifts"],"summary":"Update shifts","description":"Update single or multiple shifts under a specific schedule","operationId":"update_shifts_scheduler_v2_schedulers__schedulerId__shifts_put","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.write"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShiftUpdateRequest"},"title":"Shifts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftUpdateBulkResponse_"}}}},"400":{"description":"Invalid shift update request. For targeted V2 Vision base/group edits, assignedUserIds must be provided when isEditForAllUsers is explicitly false."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v2/schedulers/{schedulerId}/shifts/{shiftId}":{"get":{"tags":["Schedule:v2:Schedulers:Schedule:Shifts (V2):Shifts"],"summary":"Get shift","description":"Retrieve single shift information by its unique ID","operationId":"get_shift_by_id_scheduler_v2_schedulers__schedulerId__shifts__shiftId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"shiftId","in":"path","required":true,"schema":{"type":"string","description":"The unique identifier of the shift","title":"Shiftid"},"description":"The unique identifier of the shift"},{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Schedule:v2:Schedulers:Schedule:Shifts (V2):Shifts"],"summary":"Delete shift","description":"Delete a single shift by its unique ID","operationId":"delete_shift_by_id_scheduler_v2_schedulers__schedulerId__shifts__shiftId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.delete"]}],"parameters":[{"name":"shiftId","in":"path","required":true,"schema":{"type":"string","description":"The ID of the shift to delete","title":"Shiftid"},"description":"The ID of the shift to delete"},{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"},{"name":"notifyUsers","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published.","default":true,"title":"Notifyusers"},"description":"Indicates whether to send a notification to the users assigned to the shifts. This applies only to shifts that are published."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_ShiftDeleteResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v2/schedulers/{schedulerId}/shifts/auto-assign":{"post":{"tags":["Schedule:v2:Schedulers:Schedule:Shift Auto Assign (V2):Shift Auto Assign"],"summary":"Create auto-assign request","description":"Initiate a request to auto-assign shifts by their IDs. If multiple IDs are provided, all corresponding shifts must occur within the same work week (e.g., Monday to Sunday). This endpoint only submits the request; processing may take a few minutes. The auto-assignment considers user preferences to work, unavailability, and approved time off. For assignment status, refer to the auto-assign status endpoint.","operationId":"create_autofill_request_scheduler_v2_schedulers__schedulerId__shifts_auto_assign_post","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.write"]}],"parameters":[{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoAssignRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_AutoAssignResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v2/schedulers/{schedulerId}/shifts/auto-assign/{autoAssignRequestId}":{"get":{"tags":["Schedule:v2:Schedulers:Schedule:Shift Auto Assign (V2):Shift Auto Assign"],"summary":"Get auto-assign status","description":"Retrieve the status of an auto-assign request using its unique request ID. The response categorizes the results into 'scheduled shifts' for successfully assigned shifts and 'unscheduled shifts' for those where auto-assignment was not successful.","operationId":"get_autofill_status_scheduler_v2_schedulers__schedulerId__shifts_auto_assign__autoAssignRequestId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"autoAssignRequestId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the auto assign request","title":"Autoassignrequestid"},"description":"The unique identifier of the auto assign request"},{"name":"schedulerId","in":"path","required":true,"schema":{"type":"integer","description":"The unique identifier of the schedule","title":"Schedulerid"},"description":"The unique identifier of the schedule"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_AutoAssignStatusResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/scheduler/v2/schedulers/user-unavailability":{"get":{"tags":["Schedule:v2:Schedulers:Unavailabilities (V2):Unavailabilities"],"summary":"Get user unavailabilities","description":"Retrieve a list of user unavailabilities, approved time-off requests and assigned shifts","operationId":"get_unavailabilities_scheduler_v2_schedulers_user_unavailability_get","security":[{"APIKeyHeader":[]},{"OAuth2":["schedule.read"]}],"parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","description":"The unique identifier of the user","title":"Userid"},"description":"The unique identifier of the user"},{"name":"startTime","in":"query","required":true,"schema":{"type":"integer","description":"The start time to filter by in Unix format (in seconds)","title":"Starttime"},"description":"The start time to filter by in Unix format (in seconds)"},{"name":"endTime","in":"query","required":true,"schema":{"type":"integer","description":"The end time to filter by in Unix format (in seconds)","title":"Endtime"},"description":"The end time to filter by in Unix format (in seconds)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_GetUnavailabilitiesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/jobs/v1/jobs":{"get":{"tags":["Jobs:v1:Jobs"],"summary":"Get jobs","description":"Get a list of job objects relevant to instance id (scheduler id or time clock id).\nIf unified jobs are disabled, only schedulers are supported","operationId":"get_jobs_jobs_v1_jobs_get","security":[{"APIKeyHeader":[]},{"OAuth2":["jobs.read"]}],"parameters":[{"name":"instanceIds","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"integer"}},{"type":"null"}],"description":"List of instance IDs (schedule id or time clock id) to filter by","title":"Instanceids"},"description":"List of instance IDs (schedule id or time clock id) to filter by"},{"name":"jobIds","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of job IDs to filter by. In cases where a job ID includes nested sub-jobs, all sub-jobs under that parent job will be retrieved alongside with the parent job. Note that this filter does not support direct querying by sub-job IDs. To retrieve specific sub-jobs, please use the Get Job endpoint","title":"Jobids"},"description":"List of job IDs to filter by. In cases where a job ID includes nested sub-jobs, all sub-jobs under that parent job will be retrieved alongside with the parent job. Note that this filter does not support direct querying by sub-job IDs. To retrieve specific sub-jobs, please use the Get Job endpoint"},{"name":"jobNames","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of job names to filter by. In case where a sub-job name is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job.","title":"Jobnames"},"description":"List of job names to filter by. In case where a sub-job name is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job."},{"name":"jobCodes","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of job codes to filter by. In case where a sub-job code is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job.","title":"Jobcodes"},"description":"List of job codes to filter by. In case where a sub-job code is provided, the relevant sub-job with all other nested sub-jobs will be retrieved alongside with the parent job."},{"name":"includeDeleted","in":"query","required":false,"schema":{"type":"boolean","description":"Determines whether the response includes jobs that have been deleted. Default value is set to true.","default":true,"title":"Includedeleted"},"description":"Determines whether the response includes jobs that have been deleted. Default value is set to true."},{"name":"sort","in":"query","required":false,"schema":{"$ref":"#/components/schemas/JobsSortKeysExternal","description":"Sort key"},"description":"Sort key"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort order, set only if sort key is set","default":"asc"},"description":"Sort order, set only if sort key is set"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"The maximum number of results to display per page","default":10,"title":"Limit"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"title":"Offset"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponseV2_JobsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Jobs:v1:Jobs"],"summary":"Create jobs","description":"Create individual or multiple jobs under a specified scheduler","operationId":"create_jobs_jobs_v1_jobs_post","security":[{"APIKeyHeader":[]},{"OAuth2":["jobs.write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/JobCreateRequest"},{"$ref":"#/components/schemas/SubJobCreateRequest"}]},"maxItems":500,"description":"Request model for the new Jobs","title":"Jobs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_JobsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/jobs/v1/jobs/{jobId}":{"get":{"tags":["Jobs:v1:Job"],"summary":"Get job","description":"Retrieve a single job information by its unique ID","operationId":"get_job_jobs_v1_jobs__jobId__get","security":[{"APIKeyHeader":[]},{"OAuth2":["jobs.read"]}],"parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string","description":"The unique identifier of the job","title":"Jobid"},"description":"The unique identifier of the job"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_JobResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Jobs:v1:Job"],"summary":"Update job","description":"Update a single job by its unique identifier. Currently, updating job with nested sub-jobs is not supported.","operationId":"update_job_jobs_v1_jobs__jobId__put","security":[{"APIKeyHeader":[]},{"OAuth2":["jobs.write"]}],"parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string","description":"The unique identifier of the job","title":"Jobid"},"description":"The unique identifier of the job"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SubJobUpdateRequest"},{"$ref":"#/components/schemas/JobUpdateRequest"}],"title":"Job Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_JobResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Jobs:v1:Job"],"summary":"Delete job","description":"Delete a single job by its unique identifier.\n        Currently, deleting a sub-job and/or job with nested sub-jobs is not supported.","operationId":"delete_job_jobs_v1_jobs__jobId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["jobs.delete"]}],"parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string","description":"The unique identifier of the job","title":"Jobid"},"description":"The unique identifier of the job"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponseV2_DeleteJobResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/jobs/v1/custom-fields":{"get":{"tags":["Jobs:v1:Custom Fields"],"summary":"Get resource custom fields","description":"Retrieves all resource custom fields associated with the account. Optionally, filter the results by custom field IDs, names, or types.","operationId":"get_resource_custom_fields_jobs_v1_custom_fields_get","security":[{"APIKeyHeader":[]},{"OAuth2":["jobs.read"]}],"parameters":[{"name":"customFieldIds","in":"query","required":false,"schema":{"title":"Customfieldids","description":"Custom field ids to filter by","type":"array","items":{"type":"integer"}},"description":"Custom field ids to filter by"},{"name":"categoryIds","in":"query","required":false,"schema":{"title":"Categoryids","description":"Custom field category ids to filter by","type":"array","items":{"type":"integer"}},"description":"Custom field category ids to filter by"},{"name":"customFieldTypes","in":"query","required":false,"schema":{"description":"Custom field types to filter by","type":"array","items":{"$ref":"#/components/schemas/ResourceCustomFields"}},"description":"Custom field types to filter by"},{"name":"customFieldNames","in":"query","required":false,"schema":{"title":"Customfieldnames","description":"Custom field names to filter by","type":"array","items":{"type":"string"}},"description":"Custom field names to filter by"},{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":500,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"},{"name":"sort","in":"query","required":false,"schema":{"description":"Sort key","allOf":[{"$ref":"#/components/schemas/ResourceCustomFieldsSortExternal"}]},"description":"Sort key"},{"name":"order","in":"query","required":false,"schema":{"description":"Sort order, set only if sort key is set","default":"asc","allOf":[{"$ref":"#/components/schemas/SortOrder"}]},"description":"Sort order, set only if sort key is set"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_GetResourceCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/users/v1/users":{"get":{"tags":["Users:v1:Users"],"summary":"Get users","description":"Retrieves a list of all users associated with the account. Optionally, filter by user ID to receive specific user information","operationId":"get_users_users_v1_users_get","security":[{"APIKeyHeader":[]},{"OAuth2":["users.read"]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":500,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"},{"name":"sort","in":"query","required":false,"schema":{"description":"Sort key","allOf":[{"$ref":"#/components/schemas/UsersSortKeysExternal"}]},"description":"Sort key"},{"name":"order","in":"query","required":false,"schema":{"description":"Sort order, set only if sort key is set","default":"asc","allOf":[{"$ref":"#/components/schemas/SortOrder"}]},"description":"Sort order, set only if sort key is set"},{"name":"userIds","in":"query","required":false,"schema":{"title":"Userids","description":"List of user IDs for filtering.","type":"array","items":{"type":"integer","minimum":1}},"description":"List of user IDs for filtering."},{"name":"userStatus","in":"query","required":false,"schema":{"description":"Filter users by status. Default is active.","default":"active","allOf":[{"$ref":"#/components/schemas/UserStatus"}]},"description":"Filter users by status. Default is active."},{"name":"fullNames","in":"query","required":false,"schema":{"title":"Fullnames","description":"List of full names to filter by. Specify the exact first and last name with a space between them as shown in the platform (ignore capitalization).","type":"array","items":{"type":"string"}},"description":"List of full names to filter by. Specify the exact first and last name with a space between them as shown in the platform (ignore capitalization)."},{"name":"phoneNumbers","in":"query","required":false,"schema":{"title":"Phonenumbers","description":"List of phone numbers to filter by (in format +<country code><phone number>).","type":"array","items":{"type":"string"}},"description":"List of phone numbers to filter by (in format +<country code><phone number>)."},{"name":"emailAddresses","in":"query","required":false,"schema":{"title":"Emailaddresses","description":"List of email addresses to filter by (in format test@test.com).","type":"array","items":{"type":"string"}},"description":"List of email addresses to filter by (in format test@test.com)."},{"name":"createdAt","in":"query","required":false,"schema":{"title":"Createdat","description":"Parameter specifying the date in Unix format (in seconds). Only users created after this date will be included in the results.","minimum":1,"type":"integer"},"description":"Parameter specifying the date in Unix format (in seconds). Only users created after this date will be included in the results."},{"name":"modifiedAt","in":"query","required":false,"schema":{"title":"Modifiedat","description":"Parameter specifying the date in in Unix format (in seconds). Only users with fields updated after this date will be included in the results.","minimum":1,"type":"integer"},"description":"Parameter specifying the date in in Unix format (in seconds). Only users with fields updated after this date will be included in the results."},{"name":"lastLogin","in":"query","required":false,"schema":{"title":"Lastlogin","description":"Parameter specifying the date in in Unix format (in seconds). Only users who's logged in after this date will be included in the results.","minimum":1,"type":"integer"},"description":"Parameter specifying the date in in Unix format (in seconds). Only users who's logged in after this date will be included in the results."},{"name":"archivedAt","in":"query","required":false,"schema":{"title":"Archivedat","description":"Parameter specifying the date in Unix format (in seconds). Only users archived after this date will be included in the results.","minimum":1,"type":"integer"},"description":"Parameter specifying the date in Unix format (in seconds). Only users archived after this date will be included in the results."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_UsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Users:v1:Users"],"summary":"Create users","description":"Create individual or multiple users associated with the account using the provided details.","operationId":"create_users_users_v1_users_post","security":[{"APIKeyHeader":[]},{"OAuth2":["users.write"]}],"parameters":[{"name":"sendActivation","in":"query","required":false,"schema":{"title":"Sendactivation","description":"Optional flag to send activation sms.","default":false,"type":"boolean"},"description":"Optional flag to send activation sms."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Users","description":"List of users to create.","maxItems":25,"type":"array","items":{"$ref":"#/components/schemas/UserCreateRequest"}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_CreateUsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Users:v1:Users"],"summary":"Archive users","description":"Archive or permanently delete individual or multiple users associated with the account by their unique userID. In case of deletion, it will permanently delete the users from the system and cannot be undone.","operationId":"archive_users_users_v1_users_delete","security":[{"APIKeyHeader":[]},{"OAuth2":["users.delete"]}],"parameters":[{"name":"deletionType","in":"query","required":false,"schema":{"description":"Determines whether to archive the users or permanently delete the users from the account. Permanent deletion is limited to 25 users per request.","default":"archive","allOf":[{"$ref":"#/components/schemas/DeletionType"}]},"description":"Determines whether to archive the users or permanently delete the users from the account. Permanent deletion is limited to 25 users per request."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","minimum":1,"description":"Integer with minimum value of 1"},"title":"Userids"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ArchiveUsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Users:v1:Users"],"summary":"Update users","description":"Update individual or multiple users associated with the account using the provided details. You can specify updates either by their phone number or unique userID.","operationId":"edit_users_users_v1_users_put","security":[{"APIKeyHeader":[]},{"OAuth2":["users.write"]}],"parameters":[{"name":"editUsersByPhone","in":"query","required":false,"schema":{"title":"Editusersbyphone","description":"Optional flag to edit users by phone (default by user id).","default":false,"type":"boolean"},"description":"Optional flag to edit users by phone (default by user id)."},{"name":"includeSmartGroupIds","in":"query","required":false,"schema":{"title":"Includesmartgroupids","description":"Indicates whether to include smart group IDs in the response body for the updated user(s). Please note that setting this value to true may increase the request time significantly.","default":true,"type":"boolean"},"description":"Indicates whether to include smart group IDs in the response body for the updated user(s). Please note that setting this value to true may increase the request time significantly."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Users","description":"List of users to edit.","maxItems":25,"type":"array","items":{"$ref":"#/components/schemas/UserEditRequest"}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_EditUsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/users/v1/users/{userId}":{"delete":{"tags":["Users:v1:Users"],"summary":"Delete user","description":"Delete or archive user associated with the account. In case of deletion, it will permanently delete the user from the system and cannot be undone.","operationId":"delete_user_users_v1_users__userId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["users.delete"]}],"parameters":[{"name":"userId","in":"path","required":true,"schema":{"title":"Userid","description":"The ID of the user to archive or delete","minimum":1,"type":"integer"},"description":"The ID of the user to archive or delete"},{"name":"deletionType","in":"query","required":false,"schema":{"description":"Determines whether to archive the user or permanently delete the user from the account.","default":"archive","allOf":[{"$ref":"#/components/schemas/DeletionType"}]},"description":"Determines whether to archive the user or permanently delete the user from the account."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_ArchiveUsersResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/users/v1/custom-fields":{"get":{"tags":["Users:v1:Custom Fields"],"summary":"Get custom fields","description":"Retrieves all custom fields associated with the account. Optionally, filter the results by categories, names, types, or custom field IDs.","operationId":"get_custom_fields_users_v1_custom_fields_get","security":[{"APIKeyHeader":[]},{"OAuth2":["users.read"]}],"parameters":[{"name":"customFieldIds","in":"query","required":false,"schema":{"title":"Customfieldids","description":"Custom field ids to filter by","type":"array","items":{"type":"integer"}},"description":"Custom field ids to filter by"},{"name":"categoryIds","in":"query","required":false,"schema":{"title":"Categoryids","description":"Custom field category ids to filter by","type":"array","items":{"type":"integer"}},"description":"Custom field category ids to filter by"},{"name":"customFieldTypes","in":"query","required":false,"schema":{"description":"Custom field types to filter by","type":"array","items":{"$ref":"#/components/schemas/UserCustomFields"}},"description":"Custom field types to filter by"},{"name":"customFieldNames","in":"query","required":false,"schema":{"title":"Customfieldnames","description":"Custom field names to filter by","type":"array","items":{"type":"string"}},"description":"Custom field names to filter by"},{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":500,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"},{"name":"sort","in":"query","required":false,"schema":{"description":"Sort key","allOf":[{"$ref":"#/components/schemas/CustomFieldsSortExternal"}]},"description":"Sort key"},{"name":"order","in":"query","required":false,"schema":{"description":"Sort order, set only if sort key is set","default":"asc","allOf":[{"$ref":"#/components/schemas/SortOrder"}]},"description":"Sort order, set only if sort key is set"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_GetCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Users:v1:Custom Fields"],"summary":"Create custom fields","description":"Create individual or multiple custom fields associated with the account under a specific category.","operationId":"create_custom_fields_users_v1_custom_fields_post","security":[{"APIKeyHeader":[]},{"OAuth2":["users.write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Body","allOf":[{"$ref":"#/components/schemas/Body_create_custom_fields_users_v1_custom_fields_post"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Users:v1:Custom Fields"],"summary":"Update custom fields","description":"Update custom fields settings by their unique ID","operationId":"update_custom_fields_users_v1_custom_fields_put","security":[{"APIKeyHeader":[]},{"OAuth2":["users.write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Body","allOf":[{"$ref":"#/components/schemas/Body_update_custom_fields_users_v1_custom_fields_put"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetCustomFieldsSettingsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Users:v1:Custom Fields"],"summary":"Delete custom fields","description":"Delete individual or multiple custom fields associated with the account by their unique ID.","operationId":"delete_custom_fields_users_v1_custom_fields_delete","security":[{"APIKeyHeader":[]},{"OAuth2":["users.delete"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Body","allOf":[{"$ref":"#/components/schemas/Body_delete_custom_fields_users_v1_custom_fields_delete"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BulkDeleteCustomFieldResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/users/v1/custom-fields/{customFieldId}/options":{"get":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Get custom field options","description":"Retrieve a list of all dropdown value options under a specified custom field","operationId":"get_custom_field_options_users_v1_custom_fields__customFieldId__options_get","security":[{"APIKeyHeader":[]},{"OAuth2":["users.read"]}],"parameters":[{"name":"customFieldId","in":"path","required":true,"schema":{"title":"Customfieldid","description":"The unique identifier of the custom field","type":"integer"},"description":"The unique identifier of the custom field"},{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":100,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"},{"name":"isDisabled","in":"query","required":false,"schema":{"title":"Isdisabled","description":"Parameter specifying the if to filter only for disabled options.","type":"boolean"},"description":"Parameter specifying the if to filter only for disabled options."},{"name":"isDeleted","in":"query","required":false,"schema":{"title":"Isdeleted","description":"Parameter specifying the if to filter only for deleted options.","default":false,"type":"boolean"},"description":"Parameter specifying the if to filter only for deleted options."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_CustomFieldOptionsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Create custom field option","description":"Add new option for a specified custom field.The option will be added to the existing ones and will not overwrite them.Currently supports dropdown custom fields options.","operationId":"create_custom_field_option_users_v1_custom_fields__customFieldId__options_post","security":[{"APIKeyHeader":[]},{"OAuth2":["users.write"]}],"parameters":[{"name":"customFieldId","in":"path","required":true,"schema":{"title":"Customfieldid","description":"The unique identifier of the custom field","type":"integer"},"description":"The unique identifier of the custom field"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Option Request","allOf":[{"$ref":"#/components/schemas/CreateDropdownCustomFieldOption"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DropdownCustomFieldOptionResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/users/v1/custom-fields/{customFieldId}/options/{optionId}":{"put":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Update custom field option","description":"Update the value for an option under a specified custom field","operationId":"edit_custom_field_option_users_v1_custom_fields__customFieldId__options__optionId__put","security":[{"APIKeyHeader":[]},{"OAuth2":["users.write"]}],"parameters":[{"name":"optionId","in":"path","required":true,"schema":{"title":"Optionid","description":"The unique identifier of the option to update","type":"integer"},"description":"The unique identifier of the option to update"},{"name":"customFieldId","in":"path","required":true,"schema":{"title":"Customfieldid","description":"The unique identifier of the custom field","type":"integer"},"description":"The unique identifier of the custom field"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"title":"Option Request","allOf":[{"$ref":"#/components/schemas/EditSingleDropdownCustomFieldOption"}]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_DropdownCustomFieldOptionResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Users:v1:Custom Fields:Custom Field options"],"summary":"Delete custom field option","description":"Delete the value for an option under a specified custom field","operationId":"delete_custom_field_option_users_v1_custom_fields__customFieldId__options__optionId__delete","security":[{"APIKeyHeader":[]},{"OAuth2":["users.delete"]}],"parameters":[{"name":"optionId","in":"path","required":true,"schema":{"title":"Optionid","description":"The unique identifier of the option to delete","type":"integer"},"description":"The unique identifier of the option to delete"},{"name":"customFieldId","in":"path","required":true,"schema":{"title":"Customfieldid","description":"The unique identifier of the custom field","type":"integer"},"description":"The unique identifier of the custom field"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_BaseResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/users/v1/custom-field-categories":{"get":{"tags":["Users:v1:Custom Field Categories"],"summary":"Get custom field categories","description":"Retrieves all custom fields categories associated with the account. Optionally, filter the results by category IDs and/or names.","operationId":"get_custom_fields_users_v1_custom_field_categories_get","security":[{"APIKeyHeader":[]},{"OAuth2":["users.read"]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"title":"Limit","description":"The maximum number of results to display per page","default":10,"minimum":1,"maximum":500,"type":"integer"},"description":"The maximum number of results to display per page"},{"name":"offset","in":"query","required":false,"schema":{"title":"Offset","description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results","default":0,"minimum":0,"type":"integer"},"description":"The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results"},{"name":"categoryIds","in":"query","required":false,"schema":{"title":"Categoryids","description":"Custom field category ids to filter by","type":"array","items":{"type":"integer"}},"description":"Custom field category ids to filter by"},{"name":"categoryNames","in":"query","required":false,"schema":{"title":"Categorynames","description":"Custom field category names to filter by","type":"array","items":{"type":"string"}},"description":"Custom field category names to filter by"},{"name":"sort","in":"query","required":false,"schema":{"description":"Sort key","allOf":[{"$ref":"#/components/schemas/CustomFieldCategoriesSortExternal"}]},"description":"Sort key"},{"name":"order","in":"query","required":false,"schema":{"description":"Sort order, set only if sort key is set","default":"asc","allOf":[{"$ref":"#/components/schemas/SortOrder"}]},"description":"Sort order, set only if sort key is set"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedBaseResponse_CustomFieldCategoriesResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/users/v1/smart-groups":{"get":{"tags":["Users:v1:Smart Groups"],"summary":"Get smart groups","description":"Retrieves a list of smart groups associated with the account.","operationId":"get_smart_groups_users_v1_smart_groups_get","security":[{"APIKeyHeader":[]},{"OAuth2":["users.read"]}],"parameters":[{"name":"id","in":"query","required":false,"schema":{"title":"Id","description":"The unique identifier of the smart group.","type":"integer"},"description":"The unique identifier of the smart group."},{"name":"name","in":"query","required":false,"schema":{"title":"Name","description":"The name of the smart group to filter by.","type":"string"},"description":"The name of the smart group to filter by."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse_GetSmartGroupsResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPVal
[...]
