openapi: 3.2.0
info:
  title: Connecteam API documentation Time Off:v1:PolicyAssignment API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Time Off:v1:PolicyAssignment
paths:
  /time-off/v1/time-off-policies/{timeOffPolicyId}/assignments:
    put:
      tags:
      - Time Off:v1:PolicyAssignment
      summary: Assign user to time-off policy
      description: Assign user to specified time-off policy.
      operationId: assign_user_to_policy_time_off_v1_time_off_policies__timeOffPolicyId__assignments_put
      security:
      - APIKeyHeader: []
      - OAuth2:
        - time_off.write
      parameters:
      - name: timeOffPolicyId
        in: path
        required: true
        schema:
          title: Timeoffpolicyid
          description: The time off policy id
          type: string
        description: The time off policy id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Request
              description: The assignment request
              allOf:
              - $ref: '#/components/schemas/TimeOffAssignPolicyRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_TimeOffAssignPolicyResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    APIResponse_TimeOffAssignPolicyResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/TimeOffAssignPolicyResponse'
      type: object
      required:
      - data
      title: APIResponse[TimeOffAssignPolicyResponse]
    TimeOffAssignPolicyRequest:
      properties:
        userId:
          type: integer
          title: Userid
          description: The unique identifier of the user
        balance:
          type: number
          title: Balance
          description: The balance amount
        unit:
          allOf:
          - $ref: '#/components/schemas/PolicyUnitsEnum'
          description: The unit (days/hours)
      type: object
      required:
      - userId
      title: TimeOffAssignPolicyRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PolicyUnitsEnum:
      type: string
      enum:
      - hours
      - days
      title: PolicyUnitsEnum
      description: An enumeration.
    TimeOffAssignPolicyResponse:
      properties: {}
      type: object
      title: TimeOffAssignPolicyResponse
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
