openapi: 3.2.0
info:
  title: Connecteam API documentation Schedule:v1:Schedulers:Schedule:Shift layers API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Schedule:v1:Schedulers:Schedule:Shift layers
paths:
  /scheduler/v1/schedulers/{schedulerId}/shift-layers:
    get:
      tags:
      - Schedule:v1:Schedulers:Schedule:Shift layers
      summary: Get shift layers
      description: Retrieve a list of shift layers under a specified schedule
      operationId: get_shift_layers_scheduler_v1_schedulers__schedulerId__shift_layers_get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - schedule.read
      parameters:
      - name: schedulerId
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier of the schedule
          title: Schedulerid
        description: The unique identifier of the schedule
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseV2_GetSchedulerShiftLayersResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scheduler/v1/schedulers/{schedulerId}/shift-layers/{layerId}/values:
    get:
      tags:
      - Schedule:v1:Schedulers:Schedule:Shift layers
      summary: Get shift layer values
      description: Retrieve the possible values of a shift layer
      operationId: get_shift_layer_values_scheduler_v1_schedulers__schedulerId__shift_layers__layerId__values_get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - schedule.read
      parameters:
      - name: schedulerId
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier of the schedule
          title: Schedulerid
        description: The unique identifier of the schedule
      - name: layerId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier of the layer
          title: Layerid
        description: The unique identifier of the layer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          description: The maximum number of results to display per page
          default: 10
          title: Limit
        description: The maximum number of results to display per page
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
          default: 0
          title: Offset
        description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseResponseV2_GetSchedulerShiftLayerValuesResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    GetSchedulerShiftLayersResponse:
      properties:
        shiftLayers:
          items:
            $ref: '#/components/schemas/SchedulerShiftLayerOutput'
          type: array
          title: Shiftlayers
          description: The various layers of information associated with shifts in this schedule
      type: object
      title: GetSchedulerShiftLayersResponse
    SchedulerShiftLayerOutput:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the shift layer
        title:
          type: string
          title: Title
          description: The name of the shift layer
      type: object
      required:
      - id
      - title
      title: SchedulerShiftLayerOutput
    PagingResponseModelV2:
      properties:
        offset:
          type: integer
          minimum: 0.0
          title: Offset
          description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
        total:
          anyOf:
          - type: integer
            minimum: 0.0
          - type: 'null'
          title: Total
          description: Total number of resources matching the request, ignoring pagination. Use this to retrieve the full count without paginating through every page. Only populated by endpoints that compute it.
      type: object
      required:
      - offset
      title: PagingResponseModelV2
    SchedulerShiftLayerValueOutput:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the shift layer instance
        displayName:
          type: string
          title: Displayname
          description: The display name of the shift layer instance
      type: object
      required:
      - id
      - displayName
      title: SchedulerShiftLayerValueOutput
    APIResponseV2_GetSchedulerShiftLayersResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/GetSchedulerShiftLayersResponse'
      type: object
      required:
      - data
      title: APIResponseV2[GetSchedulerShiftLayersResponse]
    GetSchedulerShiftLayerValuesResponse:
      properties:
        values:
          items:
            $ref: '#/components/schemas/SchedulerShiftLayerValueOutput'
          type: array
          title: Values
          description: The values associated to the shift layer
      type: object
      required:
      - values
      title: GetSchedulerShiftLayerValuesResponse
    PaginatedBaseResponseV2_GetSchedulerShiftLayerValuesResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/GetSchedulerShiftLayerValuesResponse'
        paging:
          $ref: '#/components/schemas/PagingResponseModelV2'
      type: object
      required:
      - data
      - paging
      title: PaginatedBaseResponseV2[GetSchedulerShiftLayerValuesResponse]
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
