openapi: 3.2.0
info:
  title: Connecteam API documentation Sales:Sales V1:Sales Daily API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Sales:Sales V1:Sales Daily
paths:
  /sales/v1/daily-sales:
    get:
      tags:
      - Sales:Sales V1:Sales Daily
      summary: Get daily sales
      description: 'Retrieve daily sales totals per location for a date range. Each entry includes totalSales (aggregated from transactions) and projectedSales (set via Set projected sales). Required query parameters: startDate and endDate (ISO 8601, YYYY-MM-DD). Optionally filter by locationIds; if omitted, all account locations are included. Only days with stored daily aggregation data are returned; days with no data are omitted (not returned as zero). To record or change actual sales, use the Create transactions endpoint.'
      operationId: get_daily_sales_sales_v1_daily_sales_get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - sales_data.read
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          title: Startdate
          description: Start of the date range, inclusive, in ISO 8601 format (YYYY-MM-DD). Must be used with endDate.
          type: string
        description: Start of the date range, inclusive, in ISO 8601 format (YYYY-MM-DD). Must be used with endDate.
      - name: endDate
        in: query
        required: true
        schema:
          title: Enddate
          description: End of the date range, inclusive, in ISO 8601 format (YYYY-MM-DD). Must be on or after startDate.
          type: string
        description: End of the date range, inclusive, in ISO 8601 format (YYYY-MM-DD). Must be on or after startDate.
      - name: locationIds
        in: query
        required: false
        schema:
          title: Locationids
          description: Filter by location IDs from the Get locations endpoint. Omit to include all account locations. If any ID is invalid, the request fails.
          type: array
          items:
            type: integer
        description: Filter by location IDs from the Get locations endpoint. Omit to include all account locations. If any ID is invalid, the request fails.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_DailySalesGetResponse_'
        '400':
          description: Invalid parameters (e.g. endDate before startDate, unknown locationIds).
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DailySalesEntry:
      properties:
        date:
          type: string
          title: Date
          description: Calendar date for the entry, in ISO 8601 format (YYYY-MM-DD).
        locationId:
          type: integer
          title: Locationid
          description: Unique identifier of the location (from the Get locations endpoint).
        totalSales:
          type: number
          title: Totalsales
          description: Total sales for the day, aggregated from transactions. May be null when no transactions exist for that day. To change this value, use the Create transactions endpoint.
        projectedSales:
          type: number
          title: Projectedsales
          description: Projected sales target for the day. Set via Set projected sales. May be null if not set.
      type: object
      required:
      - date
      - locationId
      title: DailySalesEntry
    APIResponse_DailySalesGetResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/DailySalesGetResponse'
      type: object
      required:
      - data
      title: APIResponse[DailySalesGetResponse]
    DailySalesGetResponse:
      properties:
        dailySales:
          items:
            $ref: '#/components/schemas/DailySalesEntry'
          type: array
          title: Dailysales
          description: List of daily sales entries. Only days with stored aggregation data are included; the list is not a full calendar grid for every location in the range.
      type: object
      required:
      - dailySales
      title: DailySalesGetResponse
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
