openapi: 3.2.0
info:
  title: Connecteam API documentation Forms:v1:Questions API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Forms:v1:Questions
paths:
  /forms/v1/forms/{formId}/questions/{questionId}:
    get:
      tags:
      - Forms:v1:Questions
      summary: Get dropdown question options
      description: Retrieve the list of selectable options for a dropdown-type question within a specified form.
      operationId: get_dropdown_question_options_forms_v1_forms__formId__questions__questionId__get
      security:
      - APIKeyHeader: []
      - OAuth2:
        - forms.read
      parameters:
      - name: formId
        in: path
        required: true
        schema:
          title: Formid
          description: The unique identifier of the form
          minimum: 1
          type: integer
        description: The unique identifier of the form
      - name: questionId
        in: path
        required: true
        schema:
          title: Questionid
          description: The unique identifier of the question within the specified form. This question must be of type dropdown.
          type: string
        description: The unique identifier of the question within the specified form. This question must be of type dropdown.
      - name: includeDeleted
        in: query
        required: false
        schema:
          title: Includedeleted
          description: Include deleted options
          default: false
          type: boolean
        description: Include deleted options
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: The maximum number of results to display per page
          default: 10
          minimum: 1
          maximum: 500
          type: integer
        description: The maximum number of results to display per page
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
          default: 0
          minimum: 0
          type: integer
        description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseResponse_GetDropdownOptionsResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Forms:v1:Questions
      summary: Add dropdown options
      description: Add a new value option under a specified question. The value will be added to the existing value options and will not override them. Make sure the question type is of dropdown one.
      operationId: add_dropdown_options_forms_v1_forms__formId__questions__questionId__post
      security:
      - APIKeyHeader: []
      - OAuth2:
        - forms.write
      parameters:
      - name: formId
        in: path
        required: true
        schema:
          title: Formid
          description: The unique identifier of the form
          minimum: 1
          type: integer
        description: The unique identifier of the form
      - name: questionId
        in: path
        required: true
        schema:
          title: Questionid
          description: The unique identifier of the question within the specified form. This question must be of type dropdown.
          type: string
        description: The unique identifier of the question within the specified form. This question must be of type dropdown.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Dropdown Options
              description: The value to be added to the dropdown options list
              allOf:
              - $ref: '#/components/schemas/AddDropdownOptionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_AddDropdownOptionsResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /forms/v1/forms/{formId}/questions/{questionId}/options/{optionId}:
    put:
      tags:
      - Forms:v1:Questions
      summary: Update dropdown option
      description: Update the label of an existing option in a dropdown-type question within a specified form. This action overrides the current value.
      operationId: update_dropdown_options_forms_v1_forms__formId__questions__questionId__options__optionId__put
      security:
      - APIKeyHeader: []
      - OAuth2:
        - forms.write
      parameters:
      - name: formId
        in: path
        required: true
        schema:
          title: Formid
          description: The unique identifier of the form
          minimum: 1
          type: integer
        description: The unique identifier of the form
      - name: questionId
        in: path
        required: true
        schema:
          title: Questionid
          description: The unique identifier of the question within the specified form. This question must be of type dropdown.
          type: string
        description: The unique identifier of the question within the specified form. This question must be of type dropdown.
      - name: optionId
        in: path
        required: true
        schema:
          title: Optionid
          description: The unique identifier of the specific option within the dropdown list.
          type: string
        description: The unique identifier of the specific option within the dropdown list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Value Request
              description: The value to be updated. This will override the current option value.
              allOf:
              - $ref: '#/components/schemas/UpdateDropdownOptionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_UpdateDropdownOptionResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Forms:v1:Questions
      summary: Delete dropdown option
      description: Delete an existing selectable option from a dropdown-type question within a specified form.
      operationId: delete_dropdown_option_forms_v1_forms__formId__questions__questionId__options__optionId__delete
      security:
      - APIKeyHeader: []
      - OAuth2:
        - forms.delete
      parameters:
      - name: formId
        in: path
        required: true
        schema:
          title: Formid
          description: The unique identifier of the form
          minimum: 1
          type: integer
        description: The unique identifier of the form
      - name: questionId
        in: path
        required: true
        schema:
          title: Questionid
          description: The unique identifier of the question within the specified form. This question must be of type dropdown.
          type: string
        description: The unique identifier of the question within the specified form. This question must be of type dropdown.
      - name: optionId
        in: path
        required: true
        schema:
          title: Optionid
          description: The unique identifier of the specific option within the dropdown list
          type: string
        description: The unique identifier of the specific option within the dropdown list
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_DeleteDropdownOptionResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    UpdateDropdownOptionResponse:
      properties:
        id:
          type: string
          title: Id
          description: The dropdown id
        value:
          type: string
          title: Value
          description: The dropdown value
      type: object
      required:
      - id
      - value
      title: UpdateDropdownOptionResponse
    APIResponse_UpdateDropdownOptionResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/UpdateDropdownOptionResponse'
      type: object
      required:
      - data
      title: APIResponse[UpdateDropdownOptionResponse]
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    DeleteDropdownOptionResponse:
      properties: {}
      type: object
      title: DeleteDropdownOptionResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AddDropdownOption:
      properties:
        value:
          type: string
          title: Value
          description: The dropdown value
      type: object
      required:
      - value
      title: AddDropdownOption
    GetDropdownOptionsResponse:
      properties:
        options:
          items:
            $ref: '#/components/schemas/v2__features__workflow__external_api__v1__form_dropdown_options__models__dropdown_options__DropdownOptionResponse'
          type: array
          title: Options
          description: The dropdown options.
      type: object
      required:
      - options
      title: GetDropdownOptionsResponse
    APIResponse_DeleteDropdownOptionResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/DeleteDropdownOptionResponse'
      type: object
      required:
      - data
      title: APIResponse[DeleteDropdownOptionResponse]
    AddDropdownOptionsResponse:
      properties:
        options:
          items:
            $ref: '#/components/schemas/v2__features__workflow__external_api__v1__form_dropdown_options__models__dropdown_options__DropdownOptionResponse'
          type: array
          title: Options
          description: The dropdown options.
      type: object
      required:
      - options
      title: AddDropdownOptionsResponse
    AddDropdownOptionRequest:
      properties:
        dropdownOptions:
          items:
            $ref: '#/components/schemas/AddDropdownOption'
          type: array
          title: Dropdownoptions
          description: The dropdown options
      type: object
      required:
      - dropdownOptions
      title: AddDropdownOptionRequest
    UpdateDropdownOptionRequest:
      properties:
        value:
          type: string
          title: Value
          description: The dropdown value
      type: object
      required:
      - value
      title: UpdateDropdownOptionRequest
    PagingResponseModel:
      properties:
        offset:
          type: integer
          minimum: 0.0
          title: Offset
          description: The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results
        total:
          type: integer
          minimum: 0.0
          title: Total
          description: Total number of resources matching the request, ignoring pagination. Use this to retrieve the full count without paginating through every page. Only populated by endpoints that compute it.
      type: object
      required:
      - offset
      title: PagingResponseModel
    v2__features__workflow__external_api__v1__form_dropdown_options__models__dropdown_options__DropdownOptionResponse:
      properties:
        id:
          type: string
          title: Id
          description: The dropdown id
        value:
          type: string
          title: Value
          description: The dropdown value
        isDeleted:
          type: boolean
          title: Isdeleted
          description: The dropdown option is deleted
          default: false
      type: object
      required:
      - id
      - value
      title: DropdownOptionResponse
    APIResponse_AddDropdownOptionsResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/AddDropdownOptionsResponse'
      type: object
      required:
      - data
      title: APIResponse[AddDropdownOptionsResponse]
    PaginatedBaseResponse_GetDropdownOptionsResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/GetDropdownOptionsResponse'
        paging:
          $ref: '#/components/schemas/PagingResponseModel'
      type: object
      required:
      - data
      - paging
      title: PaginatedBaseResponse[GetDropdownOptionsResponse]
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
