openapi: 3.2.0
info:
  title: Connecteam API documentation Users:v1:Performance API
  version: v1
servers:
- url: https://api.connecteam.com/
tags:
- name: Users:v1:Performance
paths:
  /users/v1/users/{userId}/performance/{date}:
    put:
      tags:
      - Users:v1:Performance
      summary: Update performance data
      description: Update or add performance data values for a specific user on a given date. If a value already exists for that date, it will be replaced with the new value. If no value exists, the new value will be added.
      operationId: update_performance_users_v1_users__userId__performance__date__put
      security:
      - APIKeyHeader: []
      - OAuth2:
        - users.write
      parameters:
      - name: date
        in: path
        required: true
        schema:
          title: Date
          description: The date to which the value(s) will be added, specified in ISO 8601 format (e.g., 2025-01-25)
          type: string
          format: date
        description: The date to which the value(s) will be added, specified in ISO 8601 format (e.g., 2025-01-25)
      - name: userId
        in: path
        required: true
        schema:
          title: Userid
          description: The ID of the user whose data is being accessed or modified
          minimum: 1
          type: integer
        description: The ID of the user whose data is being accessed or modified
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Performance Data
              description: Performance data values to update
              allOf:
              - $ref: '#/components/schemas/PerformanceDataRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse_PerformanceUpdateResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PerformanceDataRequest:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PerformanceDataValue'
          type: array
          title: Items
          description: List of performance data values to update
      type: object
      required:
      - items
      title: PerformanceDataRequest
      description: Request model for updating performance data.
    PerformanceDataValue:
      properties:
        indicatorId:
          type: integer
          minimum: 1.0
          title: Indicatorid
          description: ID of the performance indicator/metric
        value:
          type: number
          title: Value
          description: Value for the performance indicator/metric
      type: object
      required:
      - indicatorId
      - value
      title: PerformanceDataValue
      description: Model for a single performance data value.
    APIResponse_PerformanceUpdateResponse_:
      properties:
        requestId:
          type: string
          title: Requestid
        data:
          $ref: '#/components/schemas/PerformanceUpdateResponse'
      type: object
      required:
      - data
      title: APIResponse[PerformanceUpdateResponse]
    PerformanceUpdateResponse:
      properties:
        recordsAffected:
          type: integer
          title: Recordsaffected
          description: Number of records affected by the update operation
      type: object
      required:
      - recordsAffected
      title: PerformanceUpdateResponse
      description: Response model for performance data update endpoint.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: The Api key of the company given by Connecteam
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      description: OAuth2 Bearer token
      flows:
        clientCredentials:
          scopes:
            account_information.read: account information - read
            account_information.write: account information - write
            account_information.delete: account information - delete
            company_policies.read: company policies - read
            company_policies.write: company policies - write
            company_policies.delete: company policies - delete
            company_insights.read: company insights - read
            users.read: users - read
            users.write: users - write
            users.delete: users - delete
            assets.read: assets - read
            assets.write: assets - write
            assets.delete: assets - delete
            sales_data.read: sales data - read
            sales_data.write: sales data - write
            sales_data.delete: sales data - delete
            attachments.read: attachments - read
            attachments.write: attachments - write
            attachments.delete: attachments - delete
            quick_tasks.read: quick tasks - read
            quick_tasks.write: quick tasks - write
            quick_tasks.delete: quick tasks - delete
            publishers.read: publishers - read
            publishers.write: publishers - write
            publishers.delete: publishers - delete
            chat.read: chat - read
            chat.write: chat - write
            chat.delete: chat - delete
            jobs.read: jobs - read
            jobs.write: jobs - write
            jobs.delete: jobs - delete
            schedule.read: schedule - read
            schedule.write: schedule - write
            schedule.delete: schedule - delete
            daily_note.read: daily note - read
            daily_note.write: daily note - write
            daily_note.delete: daily note - delete
            time_clock.read: time clock - read
            time_clock.write: time clock - write
            time_clock.delete: time clock - delete
            nfc.read: nfc - read
            nfc.write: nfc - write
            nfc.delete: nfc - delete
            time_off.read: time off - read
            time_off.write: time off - write
            time_off.delete: time off - delete
            pay_rates.read: pay rates - read
            pay_rates.write: pay rates - write
            pay_rates.delete: pay rates - delete
            forms.read: forms - read
            forms.write: forms - write
            forms.delete: forms - delete
            onboarding.read: onboarding - read
            onboarding.write: onboarding - write
            onboarding.delete: onboarding - delete
            settings.read: settings - read
            settings.write: settings - write
            settings.delete: settings - delete
            company_checklist.read: company checklist - read
            company_checklist.write: company checklist - write
            recognitions.read: recognitions - read
            celebrations.read: celebrations - read
          tokenUrl: /oauth/v1/token
    HTTPBasic:
      type: http
      description: Use client_id as Username and client_secret as Password
      scheme: basic
